/** @format */
.sidebar {
    width: 250px;
    &:empty {
        padding: 0;
        border: none;
    }
    p {
        margin: 0;
        // Hanging indent
        text-indent: -1em;
        margin-inline-start: 1em;
        * {
            // Undo hanging indent for block/inline-block children
            text-indent: 0;
            margin-inline-start: 0;
        }
    }
    ul {
        margin: 0;
        line-height: 1.1em;
    }
}

.external_link {
    display: none;
}

.sidebar li:hover .external_link {
    background-image: url("../img/karp_icon.svg");
    background-origin: content-box;
    background-repeat: no-repeat;
    display: inline-block !important;
    vertical-align: middle;
    height: 0.9em;
    width: 1.8em;
    background-size: 1.8em;
    margin-left: 1em;
    position: relative;
    cursor: pointer;
}
