/** @format */
.sidebar {
    width: 250px;
    &:empty {
        padding: 0;
        border: none;
    }
    p {
        margin: 0 0 0 0;
    }
    ul {
        margin-top: 0;
        margin-bottom: 2px;
        padding-left: 20px;
        list-style: none;
        line-height: 16px;
    }
}

.external_link {
    display: none;
}

.sidebar li:hover .external_link {
    background-image: url("../img/karp_icon.svg");
    background-origin: content-box;
    background-repeat: no-repeat;
    display: inline-block !important;
    vertical-align: middle;
    height: 0.9em;
    width: 1.8em;
    background-size: 1.8em;
    margin-left: 1em;
    position: relative;
    cursor: pointer;
}

.sidebar_info {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: 1px;
    left: 5px;
    opacity: 0.8;
}

.kwic_sidebar {
    background-color: #fff;
    border-style: solid;
    border-width: 1px;
    border-color: #999;
}
