@font-face {
  font-family: "Source Sans Pro";
  src: url(SourceSansPro-Regular.otf);
}

/* line 11, styles.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 21, styles.scss */
html {
  background-color: white;
}

/* line 25, styles.scss */
body {
  font-family: 'Source Sans Pro',Helvetica, Arial, Verdana, sans-serif;
  font-size: 13px;
  margin: 0;
  overflow-x: hidden;
  background-color: white;
}

/* line 33, styles.scss */
ul, ol {
  list-style: none;
}

/* line 37, styles.scss */
h4 {
  /*text-transform: capitalize;*/
}

/* line 42, styles.scss */
#welcome {
  padding: 0.2em;
}

/* line 46, styles.scss */
.welcome-header {
  padding: 0.7em;
}

/* line 50, styles.scss */
.ui-widget {
  font-family: inherit;
}

/* line 54, styles.scss */
sup {
  line-height: 0px;
}

/* line 58, styles.scss */
img {
  border: 0px;
}

/* line 62, styles.scss */
a {
  text-decoration: none;
}
/* line 64, styles.scss */
a:link {
  color: navy;
}
/* line 67, styles.scss */
a:visited {
  color: purple;
}
/* line 70, styles.scss */
a:hover {
  color: indianred;
}

/* unvisited link */
/* visited link */
/* mouse over link */
/* line 79, styles.scss */
.link {
  color: navy !important;
  cursor: pointer;
}
/* line 82, styles.scss */
.link:hover {
  color: indianred !important;
}

/* line 88, styles.scss */
.radialBkg {
  background: #f9fdff;
  background-image: -webkit-gradient(radial, 50%, 0, 50%, 100, color-stop(56%, #f9fdff), color-stop(100%, #ebf0f4));
  background-image: -webkit-radial-gradient(center, ellipse cover, #f9fdff 56%, #ebf0f4 100%);
  background-image: -moz-radial-gradient(center, ellipse cover, #f9fdff 56%, #ebf0f4 100%);
  background-image: -o-radial-gradient(center, ellipse cover, #f9fdff 56%, #ebf0f4 100%);
  background-image: radial-gradient(center, ellipse cover, #f9fdff 56%, #ebf0f4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9fdff', endColorstr='#ebf0f4',GradientType=1 );
}

/* line 94, styles.scss */
.inline_block {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

/* line 98, styles.scss */
.invalid_input {
  border-color: red;
}

/* line 102, styles.scss */
.color_blue {
  background-color: #D0D7F0;
}

/* line 106, styles.scss */
.color_blue_light {
  background-color: #ebeefa;
}

/* line 110, styles.scss */
.color_purple {
  background-color: #F7D1E4;
}

/* line 114, styles.scss */
.color_purple_light {
  background-color: #f7edf3;
}

/* line 118, styles.scss */
.color_green {
  background-color: #EDFCD5;
}

/* line 122, styles.scss */
.color_green_light {
  background-color: #f7fceb;
}

/* line 126, styles.scss */
.color_yellow {
  background-color: #fff3d8;
}

/* line 130, styles.scss */
.color_yellow_light {
  background-color: #fffaed;
}

/* line 134, styles.scss */
.color_azure {
  background-color: #CAEEE8;
}

/* line 138, styles.scss */
.color_azure_light {
  background-color: #edf7f5;
}

/* line 142, styles.scss */
.color_red {
  background-color: #FFDDD8;
}

/* line 146, styles.scss */
.color_red_light {
  background-color: #fcece8;
}

/* line 150, styles.scss */
.color_white {
  background-color: white;
}

/* line 154, styles.scss */
.color_unfocused {
  background-color: #EEEEEE;
}

/* line 159, styles.scss */
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
  font-size: 1em;
  font-family: inherit;
}

/* line 165, styles.scss */
#header_left {
  float: left;
}
/* line 167, styles.scss */
#header_left > a {
  margin-right: 10px;
}

/* line 172, styles.scss */
#search_history {
  margin-right: 8px;
  margin-top: 45px;
  max-width: 150px;
  position: absolute;
  right: 0;
}
/* line 178, styles.scss */
#search_history > option:first-child {
  color: grey;
}
/* line 181, styles.scss */
#search_history:empty {
  visibility: hidden;
}

/* line 186, styles.scss */
#top_bar {
  width: 100%;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #fcfafc), color-stop(100%, #d9d9d9));
  background-image: -webkit-linear-gradient(bottom, #fcfafc 0%, #d9d9d9 100%);
  background-image: -moz-linear-gradient(bottom, #fcfafc 0%, #d9d9d9 100%);
  background-image: -o-linear-gradient(bottom, #fcfafc 0%, #d9d9d9 100%);
  background-image: linear-gradient(bottom, #fcfafc 0%, #d9d9d9 100%);
  padding: 5px;
  padding-left: 8px;
}

/*match placeholder/watermark padding to border+padding for input element*/
/* line 196, styles.scss */
label.placeholder {
  cursor: text;
  padding: 4px 4px 4px 4px;
  color: #999999;
}

/* html5 placeholder support */
/* line 204, styles.scss */
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, input:placeholder, textarea:placeholder {
  color: #999999;
}

/* line 208, styles.scss */
#search_options {
  border-top: none;
  padding: 8px;
  background-image: none;
  margin-bottom: 8px;
}
/* line 213, styles.scss */
#search_options select {
  margin-right: 5px;
}
/* line 216, styles.scss */
#search_options > div {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin-right: 10px;
}
/* line 220, styles.scss */
#search_options.covered {
  opacity: 0.6;
}

/* line 225, styles.scss */
#corpus_id {
  font-family: monospace;
}

/* line 229, styles.scss */
#cqp_string {
  font-family: monospace;
  width: 100%;
}

/* line 234, styles.scss */
#header {
  width: 100%;
  margin: 0;
  position: relative;
}

/* line 240, styles.scss */
#content {
  padding: 0 8px 8px 8px;
}

/* line 244, styles.scss */
.lang_selected {
  color: black;
}

/* line 248, styles.scss */
#cite {
  margin-top: 1px;
}

/* line 251, styles.scss */
#languages, #cite {
  float: right;
  margin-right: 8px;
}

/* line 256, styles.scss */
#query_table {
  overflow: auto;
  white-space: nowrap;
  margin-bottom: 15px;
}

/* line 262, styles.scss */
.lang_row {
  overflow: auto;
  white-space: nowrap;
  margin-bottom: 15px;
  padding: 8px;
}

/* line 269, styles.scss */
#query_table > select {
  margin-left: 2px;
  display: block;
}

/* line 275, styles.scss */
.lang_row > select {
  margin-left: 2px;
  display: block;
}
/* line 279, styles.scss */
.lang_row:nth-child(2n) {
  background-color: #F5F5F5;
}

/* line 288, styles.scss */
.extended .search_submit {
  display: inline;
}
/* line 290, styles.scss */
.extended .search_submit .btn-group {
  display: inline;
}

/* line 297, styles.scss */
.mode-parallel #linkedLang {
  display: inline;
}
/* line 300, styles.scss */
.mode-parallel .context_select, .mode-parallel .within_select {
  display: none;
}
/* line 305, styles.scss */
.mode-parallel .results_table .odd {
  background-color: #fff3d8;
}
/* line 308, styles.scss */
.mode-parallel .results_table .even {
  background-color: #fff9ec;
}

/* line 325, styles.scss */
.lang_row + #removeLang {
  display: inline;
}

/* line 329, styles.scss */
.remove_arg {
  position: relative;
  top: 15px;
  opacity: 1;
  -webkit-transition: opacity 200ms ease;
  -moz-transition: opacity 200ms ease;
  -o-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

/* line 336, styles.scss */
.insert_arg {
  margin-top: 4px;
  float: left;
}

/* line 341, styles.scss */
.insert_token {
  position: relative;
  top: 54px;
  margin-left: 10px;
}

/* line 349, styles.scss */
.arg_type {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 160px;
}

/* line 354, styles.scss */
.arg_opts {
  margin-left: 5px;
}

/* line 358, styles.scss */
input.arg_value {
  width: 95%;
}

/* line 362, styles.scss */
.arg_value {
  max-width: 300px;
}

/* line 366, styles.scss */
select.arg_value option {
  padding-top: 1px;
  padding-bottom: 1px;
}

/* line 371, styles.scss */
.btn-icon {
  vertical-align: top;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  cursor: pointer;
  position: relative;
  right: -4px;
  top: -5px;
}

/* line 381, styles.scss */
.query_token .left_col {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  min-width: 16px;
}
/* line 385, styles.scss */
.query_token button {
  width: 20px;
  height: 20px;
  float: right;
}
/* line 389, styles.scss */
.query_token button i {
  position: relative;
  top: 0px;
  left: -2px;
  font-size: 14px;
}
/* line 396, styles.scss */
.query_token .repeat {
  float: right;
  margin-right: 25px;
}
/* line 399, styles.scss */
.query_token .repeat input {
  max-width: 30px;
}

/* line 405, styles.scss */
.token_header {
  padding-bottom: 3px;
}

/* line 408, styles.scss */
.token_footer {
  font-size: .8em;
}

/* line 425, styles.scss */
.close_token {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  color: black;
  background-color: #f2f7ff;
  border: thin lightgrey solid;
  padding-left: 5px;
  padding-right: 2px;
  cursor: default;
}
/* line 434, styles.scss */
.close_token i {
  cursor: pointer;
}

/* line 439, styles.scss */
.lower_footer {
  text-align: right;
  margin-top: 2px;
}

/* line 444, styles.scss */
#opt_menu {
  display: none;
  font-size: .8em;
  cursor: pointer;
  width: 100px;
}

/* line 460, styles.scss */
.statisticWords {
  border-style: hidden;
}

/* line 464, styles.scss */
.searchForWordformInCorpus, .corpusTitleHeader {
  cursor: pointer;
}

/* line 468, styles.scss */
.ext {
  margin-right: 0px;
}

/* line 472, styles.scss */
.scroll_checkboxes {
  width: 480px;
  height: 33px;
  overflow: hidden;
  margin-bottom: 2px;
  vertical-align: bottom;
}

/* line 480, styles.scss */
.buttonlink {
  padding: .4em 1em .4em 20px;
  color: #222222;
  text-decoration: none;
  position: relative;
  text-size: .6em;
}
/* line 486, styles.scss */
.buttonlink:link, .buttonlink:visited {
  color: #222222;
}
/* line 489, styles.scss */
.buttonlink:hover {
  color: #444444;
}
/* line 492, styles.scss */
.buttonlink span.ui-icon {
  margin: 0 5px 0 0;
  position: absolute;
  left: .2em;
  top: 50%;
  margin-top: -8px;
}

/* line 501, styles.scss */
.popupchecks {
  z-index: 9999;
  max-height: 600px;
  width: 446px;
  border: solid thin #CCCCCC;
  background-color: #FEFEFE;
  overflow-y: auto;
  overflow-x: hidden;
  display: none;
  padding: 10px;
  position: absolute;
}
/* line 512, styles.scss */
.popupchecks .buttons {
  margin: 10px 0;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  font-size: .8em;
}
/* line 516, styles.scss */
.popupchecks .buttons a {
  display: block;
  margin-bottom: 5px;
}

/* line 524, styles.scss */
.numberOfChildren {
  color: #888888;
}

/* line 528, styles.scss */
.hp_topframe {
  width: 446px;
  padding-top: 7px;
}

/* line 535, styles.scss */
.webkit .hp_topframe > div {
  margin-top: 1px;
}

/* line 539, styles.scss */
#corpusbox {
  cursor: pointer;
}

/* line 543, styles.scss */
.corpusInfoSpace {
  display: none;
  border: 1px solid #CCCCCC;
  z-index: 10000;
  min-width: 30px;
  min-height: 30px;
  max-width: 33%;
  position: absolute;
  left: 615px;
  background-color: white;
  padding-right: 4px;
}

/* line 556, styles.scss */
.tree {
  margin-top: 1px;
  margin-bottom: -3px;
  margin-left: 2px;
  padding-top: 3px;
  padding-bottom: 1px;
  overflow-x: hidden;
}

/* line 565, styles.scss */
.collapsed {
  margin-bottom: 0px;
}

/* line 569, styles.scss */
.boxdiv {
  margin-top: 2px;
  background-color: #F6F6F6;
  padding-top: 3px;
  padding-bottom: 1px;
  margin-bottom: 2px;
}
/* line 575, styles.scss */
.boxdiv.disabled {
  color: grey;
}
/* line 577, styles.scss */
.boxdiv.disabled img {
  display: none;
}

/* line 584, styles.scss */
.hplabel {
  padding: 2px 6px 0px 6px;
}

/* line 588, styles.scss */
.boxlabel {
  padding: 2px 6px 0px 6px;
}
/* line 590, styles.scss */
.boxlabel > span {
  background: #FFFFFF;
}

/* line 595, styles.scss */
.checkbox {
  width: 12px;
  height: 12px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 599, styles.scss */
.checkbox.checked {
  background-image: url("../img/checked.png");
}
/* line 602, styles.scss */
.checkbox.unchecked {
  background-image: url("../img/unchecked.png");
}
/* line 605, styles.scss */
.checkbox.intermediate {
  background-image: url("../img/intermediate.png");
}

/* line 610, styles.scss */
.boxdiv.disabled .checkbox {
  background-image: url("images/ui-icons_222222_256x240.png");
  background-position: -192px -96px;
  height: 13px;
  width: 14px;
  margin-left: -2px;
}

/* line 618, styles.scss */
.query_footer {
  background-color: #e1e1e1;
  padding: 1px 8px 8px 8px;
  margin-bottom: 5px;
  width: 50%;
  display: table;
}

/* line 626, styles.scss */
#similar_lemgrams {
  margin-top: 5px;
  padding: 8px;
  overflow-y: hidden;
}

/* line 632, styles.scss */
#similar_wrapper {
  max-width: 50%;
}

/* line 637, styles.scss */
#similar_lemgrams:empty {
  padding: 0;
}
/* line 640, styles.scss */
#similar_lemgrams p {
  margin-top: 2px;
  margin-bottom: 7px;
}
/* line 644, styles.scss */
#similar_lemgrams a {
  font-size: 12px;
}
/* line 647, styles.scss */
#similar_lemgrams ul {
  margin: 0;
  padding-left: 10px;
}
/* line 651, styles.scss */
#similar_lemgrams li {
  padding: 5px 0;
}

/* line 656, styles.scss */
#show_more {
  float: right;
  position: relative;
  top: -3px;
  padding: 2px 2px 0 2px;
}
/* line 661, styles.scss */
#show_more a {
  font-size: 12px;
  font-weight: bold;
}

/* line 673, styles.scss */
.ui-autocomplete-tall {
  max-height: 335px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
  /* add padding to account for vertical scrollbar */
  padding-right: 20px;
}

/* line 682, styles.scss */
.ui-preloader {
  position: absolute;
  width: 20px;
  height: 20px;
  overflow: hidden;
  background-size: 18px 18px;
}

/* line 690, styles.scss */
.image_button:hover {
  cursor: pointer;
}

/* line 694, styles.scss */
td {
  margin: 0px;
}

/* line 698, styles.scss */
table {
  margin: 0px 10px;
  padding: 0px 5px;
}

/* line 703, styles.scss */
.query_token {
  background-color: #e1e1e1;
  display: inline-table;
  *display: inline;
  vertical-align: top;
  padding: 5px;
  border: 1px solid #999;
  cursor: move;
  margin-left: 0;
  margin-right: 10px;
  margin-bottom: 5px;
  box-shadow: 2px 2px 3px grey;
}
/* line 715, styles.scss */
.query_token.ui-sortable-helper {
  width: 275px !important;
}

/* line 720, styles.scss */
.cqp_toggle {
  margin-top: 5px;
  margin-bottom: 5px;
}

/* line 725, styles.scss */
.result_controls {
  position: relative;
}

/* line 729, styles.scss */
#results-kwic > div:not(:last-child) {
  margin-bottom: 8px;
}

/* line 733, styles.scss */
.result_controls > * {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: bottom;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

/* line 737, styles.scss */
.controls_n {
  margin-right: 5px;
  min-width: 125px;
}

/* line 742, styles.scss */
.loading .controls_n {
  color: darkgrey;
  font-style: italic;
}

/* line 747, styles.scss */
#results-stats {
  overflow-x: hidden;
}

/* line 751, styles.scss */
#results-lemgram {
  overflow: auto;
}
/* line 753, styles.scss */
#results-lemgram > span * {
  margin-top: 11px;
}

/* line 758, styles.scss */
.lemgram_help {
  text-transform: capitalize;
  white-space: nowrap;
  margin-top: 10px;
  margin-bottom: 20px;
}
/* line 763, styles.scss */
.lemgram_help > span {
  padding: 10px 10px;
}

/* line 778, styles.scss */
.lemgram_result {
  float: left;
  padding-top: 4px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 2px;
  counter-reset: wordpic;
}
/* line 785, styles.scss */
.lemgram_result table {
  padding: 0 0;
  margin: 0 0;
}

/* line 791, styles.scss */
.table_scrollarea {
  overflow: auto;
  clear: both;
  overflow-y: hidden;
  -ms-overflow-y: hidden;
}

/* line 798, styles.scss */
.results_table {
  padding-left: 0;
  margin-left: 0;
}
/* line 801, styles.scss */
.results_table td {
  white-space: nowrap;
  border: none;
}

/* line 808, styles.scss */
.hits_picture tr {
  height: 18px;
}
/* line 811, styles.scss */
.hits_picture .odd {
  background-color: #dde9ff;
}
/* line 814, styles.scss */
.hits_picture .even {
  background-color: #f2f7ff;
}

/* line 819, styles.scss */
#display_word {
  margin: auto 0;
}

/* line 823, styles.scss */
.table_scrollarea + .pager-wrapper {
  margin-top: 15px;
}

/* removing context for custom tab */
/* line 829, styles.scss */
.customtab .reading_btn {
  display: none !important;
}

/* line 833, styles.scss */
.loading .reading_btn {
  display: none;
}

/* line 837, styles.scss */
.pager-wrapper:empty ~ .reading_btn {
  margin-left: 0;
}

/* line 841, styles.scss */
.reading_btn {
  margin-left: 1em;
  display: none;
  vertical-align: top;
  margin-top: 3px;
}
/* line 842, styles.scss */
.reading_btn .show {
  line-height: 1.1;
}

/* line 851, styles.scss */
.not_loading .reading_btn {
  display: inline;
}

/* line 857, styles.scss */
.reading_mode .reading_btn.show,
.reading_btn.hide,
.zero_results .reading_btn {
  display: none;
}

/* line 861, styles.scss */
.reading_mode .reading_btn.hide {
  display: inline;
}

/* line 865, styles.scss */
.loading .table_scrollarea {
  opacity: 0;
  -webkit-transition: opacity 200ms ease;
  -moz-transition: opacity 200ms ease;
  -o-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

/* line 869, styles.scss */
.not_loading .table_scrollarea {
  opacity: 1;
  -webkit-transition: opacity 200ms ease;
  -moz-transition: opacity 200ms ease;
  -o-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

/* line 875, styles.scss */
.results_table.reading {
  display: none;
}
/* line 877, styles.scss */
.results_table.reading p {
  display: block;
  padding: 1em !important;
  width: 510px;
  margin: 0;
}

/* line 885, styles.scss */
.reading_mode .results_table {
  margin-left: 10%;
}
/* line 887, styles.scss */
.reading_mode .results_table.kwic {
  display: none;
}
/* line 890, styles.scss */
.reading_mode .results_table.reading {
  display: block;
}

/* line 896, styles.scss */
.results_table .odd {
  background-color: #dde9ff;
}
/* line 899, styles.scss */
.results_table .even {
  background-color: #f2f7ff;
}

/*
.customtab .results_table.kwic {
    display : block;
}
.customtab .results_table.reading {
    display : none;
}
*/
/* line 914, styles.scss */
.reading_match {
  font-weight: bold;
  color: black !important;
}

/* line 919, styles.scss */
.result_table td {
  white-space: nowrap;
}

/* line 923, styles.scss */
.left {
  text-align: right;
  vertical-align: text-top;
}

/* line 928, styles.scss */
.match {
  font-weight: bold;
  vertical-align: text-top;
  text-align: center;
  padding: 0 4px;
}

/* line 935, styles.scss */
.corpus_title {
  font-weight: bold;
  vertical-align: text-top;
  text-align: center;
  padding: 0 4px;
  font-weight: normal;
  font-variant: small-caps;
  color: #666;
  font-size: 12px;
  display: block;
  margin: 0 -150px;
  padding: 3px 0;
}

/* line 951, styles.scss */
.not_corpus_info .corpus_title, .not_corpus_info .empty_td {
  display: none;
}

/* line 955, styles.scss */
.corpus_info {
  background-color: white !important;
}

/* line 959, styles.scss */
.reading_mode .corpus_title {
  margin: 0;
  font-size: 3em;
  text-align: left;
}

/* line 965, styles.scss */
.reading_mode .no_context .corpus_title {
  left: 0;
}

/* line 969, styles.scss */
.corpus_title_warn {
  margin-right: -100px;
  position: relative;
  left: 10px;
  font-variant: normal;
}

/* line 976, styles.scss */
.reading_mode .corpus_title_warn {
  font-size: 12px;
  display: block;
}

/* line 981, styles.scss */
.webkit .reading_mode .no_context .corpus_title_warn {
  margin-bottom: -40px;
}

/* line 986, styles.scss */
.corpus_title_warn:before {
  content: "(";
}
/* line 989, styles.scss */
.corpus_title_warn:after {
  content: ")";
}

/* line 995, styles.scss */
.right {
  vertical-align: text-top;
}

/* line 999, styles.scss */
.extra {
  color: #e1e1e1;
}

/* line 1003, styles.scss */
.alt {
  background-color: #dde9ff;
}
/* line 1005, styles.scss */
.alt td {
  border: none;
}

/* line 1010, styles.scss */
.attr {
  display: none;
  font-size: xx-small;
  vertical-align: bottom;
}

/* line 1016, styles.scss */
.sentence img {
  border-width: 0px;
}

/* line 1020, styles.scss */
.word {
  cursor: pointer;
}
/* line 1022, styles.scss */
.word.punct {
  margin-left: -3px;
}
/* line 1025, styles.scss */
.word:hover {
  color: indianred;
}

/* line 1030, styles.scss */
.match_sentence {
  color: black !important;
}

/* line 1034, styles.scss */
.reading_mode .word {
  color: #666;
}

/* line 1038, styles.scss */
.matching_sentence {
  color: black !important;
}

/* line 1042, styles.scss */
.word_selected {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  padding-left: 3px;
  margin-left: -3px;
}
/* line 1046, styles.scss */
.word_selected:hover {
  color: indianred;
}

/* line 1051, styles.scss */
.token_selected {
  color: #fff !important;
  background-color: #666;
}

/* line 1056, styles.scss */
.aux_selected {
  color: #000;
  background-color: #FFDDD8;
}

/* line 1061, styles.scss */
#result-container {
  clear: both;
  min-height: 400px;
}

/* line 1066, styles.scss */
#json-link {
  float: right;
  display: none;
}
/* line 1069, styles.scss */
#json-link img {
  border: 0px;
}

/* line 1074, styles.scss */
#columns {
  position: relative;
  max-height: 600px;
}

/* line 1079, styles.scss */
#left-column {
  position: absolute;
  left: 0px;
  right: 0;
  transition: right 300ms;
}
/* line 1084, styles.scss */
#left-column.sidebar_visible {
  right: 258px;
  transition: right 300ms;
}

/* line 1090, styles.scss */
#sidebar {
  position: absolute;
  right: 0px;
  width: 250px;
  padding: 5px 0px 5px 5px;
  right: -268px;
  transition: right 300ms;
}
/* line 1097, styles.scss */
#sidebar.visible {
  transition: right 300ms;
  right: 0;
}
/* line 1102, styles.scss */
#sidebar.visible.fixed {
  right: 8px;
  position: fixed;
  top: 8px;
}
/* line 1107, styles.scss */
#sidebar:empty {
  padding: 0;
  border: none;
}

/* line 1113, styles.scss */
.external_link {
  display: none;
}

/* line 1117, styles.scss */
#sidebar li:hover .external_link {
  background-image: url("../img/fish_icon.png");
  background-origin: content-box;
  background-repeat: no-repeat;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  display: inline-block !important;
  height: 12px;
  width: 15px;
  background-size: 15px;
  margin-left: 2em;
  position: relative;
  top: 2px;
  cursor: pointer;
}

/* line 1132, styles.scss */
#sidbar_info {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  position: relative;
  top: 3px;
  left: 5px;
  opacity: 0.8;
  margin-top: -4px;
}

/* line 1141, styles.scss */
.kwic_sidebar {
  background-color: #fff;
  border-style: solid;
  border-width: 1px;
  border-color: #999;
}

/* line 1149, styles.scss */
#sidebar div {
  margin-bottom: 10px;
}
/* line 1152, styles.scss */
#sidebar p {
  margin: 0 0 0 0;
}
/* line 1155, styles.scss */
#sidebar ul {
  margin-top: 0;
  margin-bottom: 2px;
  padding-left: 20px;
  list-style: none;
  line-height: 16px;
}
/* line 1163, styles.scss */
#sidebar #selected_sentence > h4:last-child {
  display: none;
}

/* line 1168, styles.scss */
#dialog ol {
  margin: 10px 0;
  font-size: 12px;
  list-style: decimal;
}
/* line 1172, styles.scss */
#dialog ol > li {
  padding: 5px 0;
  line-height: 18px;
}

/* line 1179, styles.scss */
span.absStat {
  color: #999999;
}

/* line 1184, styles.scss */
a.absStat {
  color: #999999;
}
/* line 1186, styles.scss */
a.absStat:hover {
  color: indianred;
}
/* line 1190, styles.scss */
a.relStat {
  color: #000000;
}
/* line 1192, styles.scss */
a.relStat:hover {
  color: indianred;
}

/* line 1198, styles.scss */
.word_column {
  text-align: left;
}

/* line 1202, styles.scss */
.linked_sentence {
  overflow-x: visible;
  font-weight: normal;
  color: #999;
  font-style: italic;
  position: relative;
}
/* line 1213, styles.scss */
.linked_sentence .left, .linked_sentence .match, .linked_sentence .right {
  display: none;
}

/* line 1219, styles.scss */
#about_content ul {
  padding-left: 10px;
  margin-top: 8px;
}

/* line 1224, styles.scss */
#login {
  /*display : none;*/
}

/* line 1228, styles.scss */
#login_popup {
  display: none;
}
/* line 1230, styles.scss */
#login_popup * {
  display: block;
}
/* line 1233, styles.scss */
#login_popup label {
  margin-top: 5px;
}
/* line 1236, styles.scss */
#login_popup .err_msg {
  display: none;
  font-size: .8em;
}
/* line 1240, styles.scss */
#login_popup input[type=submit] {
  float: right;
  margin-top: 2em;
}

/* line 1246, styles.scss */
.logged_in #login {
  display: none;
}

/* line 1250, styles.scss */
#log_out {
  display: none;
  float: right;
  margin-right: 8px;
  margin-top: 7px;
  margin-left: 3px;
}

/* line 1258, styles.scss */
.logged_in #log_out {
  display: block;
}

/* when selecting a word, not a lemgram, this pops up. */
/* line 1264, styles.scss */
.lemgram_select {
  margin-top: 8px;
}

/* line 1268, styles.scss */
label[for=lemgram_select]:before {
  display: block;
}

/* line 1274, styles.scss */
#highlight {
  position: absolute;
  background-color: #FFF3D8;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

/* line 1281, styles.scss */
.inline_list {
  margin: 0;
  padding: 0;
}
/* line 1284, styles.scss */
.inline_list li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

/* line 1289, styles.scss */
.msie8 .inline_list li {
  display: inline;
}

/* line 1293, styles.scss */
.inline_list span {
  padding: 0 5px;
  color: grey;
}

/* line 1298, styles.scss */
#mode_switch {
  margin: 0;
  margin-right: 10px;
  float: left;
  padding-left: 0;
}
/* line 1305, styles.scss */
#mode_switch li.visible {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 1308, styles.scss */
#mode_switch li.selected a {
  color: black;
}
/* line 1311, styles.scss */
#mode_switch li.visible:after {
  content: "|";
  margin: 0 0.3em;
  color: grey;
}
/* line 1316, styles.scss */
#mode_switch li:last-child:after {
  display: none;
}
/* line 1321, styles.scss */
#mode_switch li.menu_more a {
  background: rgba(0, 0, 0, 0);
}
/* line 1324, styles.scss */
#mode_switch li.menu_more i {
  margin-left: 5px;
}

/* line 1331, styles.scss */
.radioList_selected {
  color: black !important;
  cursor: default;
}

/* line 1336, styles.scss */
.custom_anchor {
  padding-right: 8px !important;
}

/* line 1344, styles.scss */
.tabClose {
  padding: 0 !important;
  margin-right: 6px;
  cursor: pointer !important;
}

/* line 1350, styles.scss */
.hits_picture_table {
  /*    opacity: .3; */
  width: 100%;
  padding: 0px;
}

/* line 1358, styles.scss */
.hits_picture {
  cursor: pointer;
  position: absolute;
  right: 10px;
  left: 280px;
  top: -1px;
  -webkit-transition: left 400ms ease;
  -moz-transition: left 400ms ease;
  -o-transition: left 400ms ease;
  transition: left 400ms ease;
}

/* line 1367, styles.scss */
#showLineDiagram {
  position: relative;
  top: 3px;
}

/* line 1373, styles.scss */
.query_token .logic_switcher {
  float: left;
}
/* line 1376, styles.scss */
.query_token .close_btn {
  cursor: pointer;
  float: right;
  opacity: 1;
  -webkit-transition: opacity 200ms ease;
  -moz-transition: opacity 200ms ease;
  -o-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  font-size: 15px;
}
/* line 1383, styles.scss */
.query_token:only-of-type .close_btn {
  opacity: 0;
  cursor: default;
  -webkit-transition: opacity 200ms ease;
  -moz-transition: opacity 200ms ease;
  -o-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

/* line 1390, styles.scss */
.right_col {
  padding-right: 2px;
}

/* line 1393, styles.scss */
.ie8 .right_col .input {
  float: right;
}

/* line 1397, styles.scss */
.query_arg {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  padding: 5px;
  background-color: #f7fceb;
  border: solid 1px #999;
  margin-bottom: 5px;
  padding-right: 13px;
}

/* line 1406, styles.scss */
.or_arg {
  margin-bottom: 5px;
}
/* line 1408, styles.scss */
.or_arg .ui-icon-info {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: text-bottom;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  cursor: pointer;
}

/* line 1414, styles.scss */
.query_arg:only-of-type .or_arg:only-child .remove_arg {
  cursor: default;
  opacity: 0;
  -webkit-transition: opacity 200ms ease;
  -moz-transition: opacity 200ms ease;
  -o-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

/* line 1420, styles.scss */
.arg_header {
  opacity: 0;
  -webkit-transition: opacity 200ms ease;
  -moz-transition: opacity 200ms ease;
  -o-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  margin-bottom: 1px;
}

/* line 1426, styles.scss */
.or_arg:not(:only-child):first-child .arg_header {
  opacity: 1;
  -webkit-transition: opacity 200ms ease;
  -moz-transition: opacity 200ms ease;
  -o-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

/* line 1435, styles.scss */
.arg_header {
  font-size: 10px;
}

/* line 1440, styles.scss */
.insert_or {
  padding-top: 6px;
  right: 0;
  cursor: pointer;
  float: right;
}

/* line 1448, styles.scss */
#time {
  margin-top: 10px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

/* line 1454, styles.scss */
#time_inputs input {
  border: none;
  font-weight: bold;
  width: 30px;
}

/* line 1461, styles.scss */
#time_graph {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 335px;
  height: 70px;
}

/* line 1467, styles.scss */
#rest_time_graph {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  height: 70px;
  width: 5px;
  position: relative;
  bottom: 20px;
}

/* line 1475, styles.scss */
#time_slider {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 250px;
  margin-right: 10px;
}

/* line 1481, styles.scss */
.ui-slider-handle {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
}

/* line 1485, styles.scss */
.pager-wrapper {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

/* line 1491, styles.scss */
.sidebar_url {
  white-space: nowrap;
}

/* line 1495, styles.scss */
.arcDiagramPicture {
  cursor: pointer;
  margin-bottom: -2px;
  padding-left: 5px;
  padding-right: 5px;
}

/* line 1502, styles.scss */
.c0 {
  position: relative;
}

/* line 1506, styles.scss */
.arcDiagramPicture {
  position: absolute;
  right: 0;
}

/* line 1512, styles.scss */
.lemgram_section {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin-right: 30px;
}

/* line 1517, styles.scss */
.tableContainer {
  margin-bottom: 15px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  padding: 10px;
  border: solid 1px lightgray;
  margin-right: 20px;
}
/* line 1523, styles.scss */
.tableContainer > .header {
  color: #333;
  font-size: 1.1em;
  margin-bottom: 1em;
  font-family: Lucida Grande, sans-serif;
}

/* line 1531, styles.scss */
.explanation {
  font-size: 12px;
  padding: 0 20px;
}

/* line 1536, styles.scss */
.ui-dialog ul, ol {
  padding-left: 0;
}

/* line 1540, styles.scss */
.ui-dialog li {
  margin-bottom: 3px;
}

/* line 1544, styles.scss */
.autocomplete-item-disabled a {
  font-style: italic;
  color: indianred;
  opacity: 0.7;
}

/* line 1550, styles.scss */
#showLineDiagram {
  display: none;
}

/* line 1554, styles.scss */
.lab #showLineDiagram {
  display: inline;
}

/* line 1558, styles.scss */
#labs_logo {
  display: none;
}

/* line 1562, styles.scss */
.lab #labs_logo {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: bottom;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

/* line 1566, styles.scss */
#korplink {
  display: none;
}

/* line 1571, styles.scss */
.lab #korplablink {
  display: none;
}
/* line 1574, styles.scss */
.lab #korplink {
  display: block;
}

/* line 1579, styles.scss */
#cog {
  float: right;
  margin-top: -6px;
  cursor: pointer;
  height: 26px;
}

/* line 1586, styles.scss */
#cog_menu {
  position: absolute;
  font-size: inherit;
  text-align: right;
}

/* line 1592, styles.scss */
.ui-menu {
  box-shadow: 2px 2px 3px grey;
  z-index: 999;
}

/* line 1597, styles.scss */
.korp_fail {
  height: 146px;
  width: 290px;
}

/* line 1602, styles.scss */
.fail_text {
  margin: 1em 0 0 1em;
  vertical-align: top;
  font-family: Garamond,Cochin,Serif;
  font-size: 1.3em;
}

/* line 1609, styles.scss */
.error_msg ~ * {
  display: none !important;
}

/* line 1613, styles.scss */
.msd {
  font-size: 0.8em;
}

/* line 1618, styles.scss */
#korp-simple .btn-group {
  display: inline;
}

/* line 1624, styles.scss */
.search_submit {
  display: inline;
  margin-right: 5px;
}

/* line 1631, styles.scss */
.search_tabs li:nth-child(4) {
  margin-left: 1em;
}
/* line 1634, styles.scss */
.search_tabs .tab-content {
  overflow: visible;
}
/* line 1637, styles.scss */
.search_tabs .search_compare {
  padding-top: 1em;
}
/* line 1639, styles.scss */
.search_tabs .search_compare button {
  margin-top: 2em;
  display: block;
}
/* line 1643, styles.scss */
.search_tabs .search_compare select {
  margin: 0 5px;
}

/* line 1649, styles.scss */
.nav-tabs li.disabled {
  opacity: 0.6;
}

/* line 1653, styles.scss */
#results-wrapper .nav-tabs li:nth-child(4) {
  margin-left: 1em;
}

/* line 1657, styles.scss */
#korp-extended .within_select ~ * {
  display: none;
}

/* line 1661, styles.scss */
.lab #korp-extended #sendBtn ~ * {
  display: inline;
}

/* line 1670, styles.scss */
#search-tab {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

/* line 1675, styles.scss */
.val_mod {
  letter-spacing: 1px;
  font-size: .8em;
  cursor: pointer;
  margin-right: 1px;
}

/* line 1682, styles.scss */
.mod_menu {
  cursor: default;
  position: absolute;
  font-size: .9em;
}

/* line 1690, styles.scss */
slider {
  display: inline-block;
  position: relative;
  height: 5px;
  width: 100%;
  margin: 25px 5px 25px 5px;
  vertical-align: middle;
}
/* line 1698, styles.scss */
slider span {
  white-space: nowrap;
  position: absolute;
  display: inline-block;
}
/* line 1702, styles.scss */
slider span.base {
  width: 100%;
  height: 100%;
  padding: 0;
}
/* line 1707, styles.scss */
slider span.bar {
  width: 100%;
  height: 100%;
  z-index: 0;
  border-radius: 1em/1em;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cccccc), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(top, #cccccc, #ffffff);
  background-image: -moz-linear-gradient(top, #cccccc, #ffffff);
  background-image: -o-linear-gradient(top, #cccccc, #ffffff);
  background-image: linear-gradient(top, #cccccc, #ffffff);
  box-shadow: inset 0 1px 3px rgba(10, 10, 10, 0.5);
}
/* line 1718, styles.scss */
slider span.bar.selection {
  width: 0%;
  z-index: 1;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ababab), color-stop(100%, #c6c6c6));
  background-image: -webkit-linear-gradient(top, #ababab, #c6c6c6);
  background-image: -moz-linear-gradient(top, #ababab, #c6c6c6);
  background-image: -o-linear-gradient(top, #ababab, #c6c6c6);
  background-image: linear-gradient(top, #ababab, #c6c6c6);
  box-shadow: none;
}
/* line 1726, styles.scss */
slider span.pointer {
  cursor: pointer;
  width: 15px;
  height: 15px;
  top: -5px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dfdfdf));
  background-image: -webkit-linear-gradient(top, #ffffff, #dfdfdf);
  background-image: -moz-linear-gradient(top, #ffffff, #dfdfdf);
  background-image: -o-linear-gradient(top, #ffffff, #dfdfdf);
  background-image: linear-gradient(top, #ffffff, #dfdfdf);
  border-top: 1px solid #ddd;
  border: 1px solid #666;
  z-index: 14;
  border-radius: 1em/1em;
  box-shadow: 2px 2px 3px grey;
}
/* line 1742, styles.scss */
slider span.pointer:after {
  box-shadow: inset 2px 2px 5px;
}
/* line 1746, styles.scss */
slider span.pointer:hover:after {
  background-color: #000;
}
/* line 1749, styles.scss */
slider span.pointer.active:hover:after {
  background-color: #f00;
}
/* line 1754, styles.scss */
slider span.bubble {
  cursor: default;
  top: -22px;
  padding: 1px 3px 1px 3px;
  font-size: 0.7em;
  font-family: sans-serif;
}
/* line 1760, styles.scss */
slider span.bubble.selection {
  top: 15px;
}
/* line 1763, styles.scss */
slider span.bubble.limit {
  color: #808080;
}

/* line 1772, styles.scss */
.val_mod.insensitive {
  color: lightgrey;
}
/* line 1775, styles.scss */
.val_mod.sensitive {
  color: black;
}
/* line 1777, styles.scss */
.val_mod.sensitive + .mod_menu li:first-of-type a {
  text-decoration: underline;
}
/* line 1781, styles.scss */
.val_mod.insensitive + .mod_menu li:nth-of-type(2) a {
  text-decoration: underline;
}

/* line 1786, styles.scss */
.enumerate {
  counter-increment: wordpic;
}
/* line 1788, styles.scss */
.enumerate:before {
  content: counter(wordpic) ".";
}

/* line 1793, styles.scss */
#showBarPlot {
  display: none;
}

/* line 1801, styles.scss */
#wordclassChkParent {
  float: right;
}

/* line 1807, styles.scss */
.nav-tabs li {
  position: relative;
}

/* line 1811, styles.scss */
.tab_progress {
  height: 2px;
  background-color: darkblue;
  max-width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

/* line 1821, styles.scss */
.not_loading .tab_progress {
  display: none;
}

/* line 1825, styles.scss */
.not_loading .hits_picture {
  left: 180px;
  -webkit-transition: width 400ms ease;
  -moz-transition: width 400ms ease;
  -o-transition: width 400ms ease;
  transition: width 400ms ease;
}

/*
.progress_container {
  width: 143px;
  overflow-x: hidden;
  @include transition(width 400ms ease);
}

#results-kwic.not_loading .progress_container {
  width: 0;
  @include transition(width 400ms ease);
}


.not_loading .progress_container {
  display: none;
}
*/
/* line 1847, styles.scss */
.arg_value .from, .arg_value .to {
  width: 50px;
}
/* line 1850, styles.scss */
.arg_value .from {
  float: left;
}
/* line 1853, styles.scss */
.arg_value .to {
  float: right;
  text-align: left;
}

/* line 1860, styles.scss */
.arg_val_container {
  margin-top: 2px;
}

/* line 1864, styles.scss */
.ui-autocomplete-category {
  font-size: .7em;
  text-transform: uppercase;
  color: grey;
  letter-spacing: 1.1;
}

/* line 1871, styles.scss */
#keyboard {
  cursor: pointer;
  padding: 0 3px;
  display: none;
}

/* line 1877, styles.scss */
#char_table {
  display: none;
}

/* line 1881, styles.scss */
.specialkey {
  width: 12px;
  text-align: center;
  cursor: pointer;
}

/* line 1888, styles.scss */
#deptree_popup {
  overflow-y: hidden;
}
/* line 1890, styles.scss */
#deptree_popup iframe {
  border: none;
  height: 400px;
}
/* line 1894, styles.scss */
#deptree_popup .info:empty {
  display: block;
  height: 1.3em;
}

/* line 1900, styles.scss */
.smoother.ui-slider {
  width: 200px;
}

/* line 1904, styles.scss */
.legend {
  float: right;
}
/* line 1906, styles.scss */
.legend .action {
  opacity: 0.5 !important;
  color: white;
}

/* line 1912, styles.scss */
.slick-viewport .slick-cell-checkboxsel input {
  margin-left: 6px;
}

/* line 1916, styles.scss */
.graph_btn_icon {
  position: absolute;
  left: 0;
}

/* line 1921, styles.scss */
.graph_header .controls {
  float: left;
}

/* line 1926, styles.scss */
.stats_header {
  margin-bottom: 1em;
}
/* line 1928, styles.scss */
.stats_header > * {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

/* line 1932, styles.scss */
.reading_mode .show_deptree {
  display: none;
}

/* line 1936, styles.scss */
.rickshaw_graph .x_tick .title {
  bottom: -1.1em !important;
  left: -3em;
}

/* line 1941, styles.scss */
.form-bar .rickshaw_graph .x_tick .title {
  left: 0;
}

/* line 1946, styles.scss */
.y_ticks.plain g:first-of-type text {
  display: none;
}

/* line 1950, styles.scss */
.form-bar .legend li:last-child:not(:only-child) {
  display: none;
}

/* line 1953, styles.scss */
.form_switch {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: bottom;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

/* line 1957, styles.scss */
line.tick {
  display: none;
}

/* line 1961, styles.scss */
.dot.active {
  cursor: pointer;
}

/* line 1965, styles.scss */
.rickshaw_graph .x_tick {
  border: none !important;
}

/* line 1968, styles.scss */
.zoom_slider {
  margin-top: 30px;
  width: 100% !important;
}

/* line 1973, styles.scss */
#main > #msd_popup {
  display: none !important;
}

/* line 1977, styles.scss */
.popupchecks .header {
  white-space: nowrap;
}

/* line 1981, styles.scss */
.ui-button-text-only .ui-button-text {
  padding: 0;
}

/* line 1984, styles.scss */
.ui-button-text-only > .ui-button-text {
  padding: 0.4em 1em;
}

/* line 1987, styles.scss */
.ui-button-text-icon-primary .ui-button-text, .ui-button-text-icons .ui-button-text {
  padding: 0.4em 1em 0.4em 2.1em;
}

/* line 1991, styles.scss */
#myGrid {
  width: 100%;
  height: 500px;
}

/* line 1996, styles.scss */
#myGrid, #myGrid * {
  box-sizing: content-box;
}

/* line 1999, styles.scss */
.loading .exportStatsSection {
  display: none;
}

/* line 2003, styles.scss */
.nav.nav-tabs {
  background: url("images/ui-bg_highlight-soft_75_cccccc_1x100.png") repeat-x scroll 50% 50% #cccccc;
  border: 1px solid #AAAAAA;
  border-radius: 2px 2px 0 0;
  color: #222222;
  padding-top: 0.2em;
}
/* line 2011, styles.scss */
.nav.nav-tabs li {
  cursor: pointer;
  margin-right: 0.2em;
}
/* line 2015, styles.scss */
.nav.nav-tabs .badge {
  margin-left: 1em;
}

/* line 2024, styles.scss */
.tabbable {
  border: 1px solid #AAAAAA;
  border-radius: 2px 2px 2px 2px;
  color: #222222;
  padding: 3px;
}
/* line 2029, styles.scss */
.tabbable .tab-content {
  padding: 1em;
}
/* line 2032, styles.scss */
.tabbable .close_icon {
  cursor: pointer;
  padding-left: 5px;
}
/* line 2036, styles.scss */
.tabbable .nav.nav-tabs {
  margin: 0;
  padding-left: 0;
}
/* line 2039, styles.scss */
.tabbable .nav.nav-tabs li {
  background: url("images/ui-bg_glass_75_e6e6e6_1x400.png") repeat-x scroll 50% 50% #e6e6e6;
  border: 1px solid #D3D3D3;
  color: #555555;
  font-weight: normal;
  margin-bottom: -1px;
}
/* line 2045, styles.scss */
.tabbable .nav.nav-tabs li:first-child {
  margin-left: 0.5em;
}
/* line 2048, styles.scss */
.tabbable .nav.nav-tabs li a {
  padding-bottom: 0.3em !important;
  padding-top: 0.3em !important;
  padding: 0.2em 1em;
  color: #555555;
}
/* line 2054, styles.scss */
.tabbable .nav.nav-tabs li.active {
  border-bottom-color: transparent;
}

/* line 2061, styles.scss */
.search_tabs.tabbable {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

/* line 2067, styles.scss */
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover {
  border-radius: 0;
  border-color: transparent;
}

/* line 2071, styles.scss */
.nav-tabs > li > a, .nav-pills > li > a {
  margin-right: 0;
}

/* line 2075, styles.scss */
.pagination {
  height: 20px;
  margin: 0;
}

/* line 2079, styles.scss */
.pagination a, .pagination span {
  border-width: 1px;
  line-height: 18px;
  padding: 0 8px;
  color: #555;
}

/* line 2086, styles.scss */
.modal-header {
  display: none;
}

/* line 2089, styles.scss */
.modal .modal-header {
  display: block;
}

/* line 2093, styles.scss */
.modal {
  max-height: 600px;
  overflow-y: auto;
}

/* line 2099, styles.scss */
.compare_result.loading {
  visibility: hidden;
}
/* line 2102, styles.scss */
.compare_result .column {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 2105, styles.scss */
.compare_result .meter {
  cursor: pointer;
  position: relative;
  border: 1px solid rgba(221, 233, 255, 0);
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
/* line 2112, styles.scss */
.compare_result .meter:hover {
  color: navy;
  border: 1px solid #aac8ff;
}
/* line 2125, styles.scss */
.compare_result .badge {
  position: absolute;
  right: 0;
  top: 4px;
}
/* line 2130, styles.scss */
.compare_result .background {
  padding: 5px 0;
}
/* line 2134, styles.scss */
.compare_result .column_1 ul {
  background-color: #f1f6ff;
  border: 1px solid #dde9ff;
}
/* line 2137, styles.scss */
.compare_result .column_1 ul .background {
  background-color: #dde9ff;
}
/* line 2141, styles.scss */
.compare_result .column_2 ul {
  background-color: #fff9ec;
  border: 1px solid #FFF3D8;
}
/* line 2144, styles.scss */
.compare_result .column_2 ul .background {
  background-color: #FFF3D8;
}
/* line 2148, styles.scss */
.compare_result ul {
  padding: 2px;
  margin-right: 2em;
  width: 400px;
  font-size: 1.1em;
}
/* line 2155, styles.scss */
.compare_result ul li {
  margin-bottom: 0.5em;
  white-space: nowrap;
}

/* line 2170, styles.scss */
.popover {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
/* line 2172, styles.scss */
.popover .popover-content {
  padding: 5px;
}
/* line 2175, styles.scss */
.popover .btn_container {
  margin-top: 1em;
  text-align: right;
}

/* line 2183, styles.scss */
.tab_spinner {
  width: 9px;
  display: none;
}

/* line 2194, styles.scss */
.loading .tab_spinner {
  display: inline-block;
}

/* line 2197, styles.scss */
.loading .close_icon {
  display: none;
}

/* line 2202, styles.scss */
.badge {
  padding-right: 5px;
  padding-left: 6px;
}

/* line 2207, styles.scss */
.popper_menu {
  width: 130px;
}

/* Side notes for calling out things
-------------------------------------------------- */
/* Base styles (regardless of theme) */
/* line 2219, styles.scss */
.bs-callout {
  margin: 20px 0;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #eee;
}

/* line 2224, styles.scss */
.bs-callout h4 {
  margin-top: 0;
}

/* line 2227, styles.scss */
.bs-callout p:last-child {
  margin-bottom: 0;
}

/* line 2231, styles.scss */
.bs-callout code,
.bs-callout .highlight {
  background-color: #fff;
}

/* Themes for different contexts */
/* line 2236, styles.scss */
.bs-callout-danger {
  background-color: #fcf2f2;
  border-color: #dFb5b4;
}

/* line 2240, styles.scss */
.bs-callout-warning {
  background-color: #fefbed;
  border-color: #f1e7bc;
}

/* line 2244, styles.scss */
.bs-callout-info {
  background-color: #f0f7fd;
  border-color: #d0e3f0;
}
