$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

sb-map {
  padding: 8px;

  .dot {
    background-color : red;
    border : none;
    border-radius: 10px;
    width : 7px !important;
    height : 7px !important;
    z-index : 400;
    position: absolute;
  }
  
  .leaflet-marker-icon.leaflet-div-icon.leaflet-clickable {
    border: none;
    background-color: transparent
  }

  .leaflet-popup-content-wrapper {
    border-radius: 4px;
    background-color: #f6f6f6;
    background-image: linear-gradient(to bottom, #fff, #e6e6e6);
    background-repeat: repeat-x;
  }

  .leaflet-popup-tip {
    background-color: #e6e6e6;
  }

  .leaflet-bar a:link, .leaflet-bar a:visited {
    color: black
  }

  .marker-cluster-small {
    background-color: rgba(136, 220, 168, 0.6);
    div {
      background-color: rgba(136, 220, 168, 0.6);
    }
  }
  
  .map {
      border: 1px solid black;
  }

  #sb-map-container {
    position: relative;
    height: 522px;
  }

  #leaflet-map {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  #hover-info {
    width: 200px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
  }

  .hover-info {
    opacity: 1;
    transition : opacity 500ms;
    z-index: 10;
    background-color: #f6f6f6;
    background-image: linear-gradient(to bottom, #fff, #e6e6e6);
    background-repeat: repeat-x;
    padding: 10px;
    margin: 10px;
    border-radius: 4px;
  }

}
