<!DOCTYPE HTML>
<html>
	<head>  
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link type="text/css" href="lib/themes/base/jquery.ui.all.css" rel="stylesheet" />
		<link type="text/css" href="jquery.tooltip.css" rel="stylesheet" />
		<link rel="shortcut icon" type="image/ico" href="img/korp_icon.ico">
		<link rel="stylesheet" type="text/css" href="style.css">
		<link rel="stylesheet" type="text/css" href="pagination.css">
		
		<title>Korp</title>
		
		<script type="text/javascript" src="lib/jquery.js" ></script>
		<script type="text/javascript" src="lib/mootools-1.2.4-base.js"></script>
		<script type="text/javascript" src="lib/Class.Mutators.jQuery.js"></script>
		<script type="text/javascript" src="lib/raphael.js"></script>
		<script type="text/javascript" src="lib/modernizr-1.7.min.js"></script>
		<script type="text/javascript" src="lib/jquery.ba-bbq.min.js"></script>
		
		<script type="text/javascript" src="lib/scxml/require.js"></script>
		<script type="text/javascript" src="lib/scxml/require/xml.js"></script>
		<script type="text/javascript" src="lib/scxml/require/text.js"></script>
		
		<script type="text/javascript" src="lib/ui/minified/jquery.ui.core.min.js" ></script>
		<script type="text/javascript" src="lib/ui/minified/jquery.ui.widget.min.js"></script>
		<script type="text/javascript" src="lib/ui/minified/jquery.ui.position.min.js"></script>
		<script type="text/javascript" src="lib/ui/minified/jquery.ui.mouse.min.js"></script>
		<script type="text/javascript" src="lib/ui/minified/jquery.ui.draggable.min.js"></script>
		<script type="text/javascript" src="lib/ui/minified/jquery.ui.sortable.min.js"></script>
		<script type="text/javascript" src="lib/ui/minified/jquery.ui.resizable.min.js"></script>

		<script type="text/javascript" src="lib/ui/jquery.ui.autocomplete.js"></script>
		<script type="text/javascript" src="lib/ui/minified/jquery.ui.dialog.min.js"></script>
		<script type="text/javascript" src="lib/ui/jquery.ui.tabs.js"></script>
		<script type="text/javascript" src="lib/ui/minified/jquery.ui.button.min.js"></script>
		<script type="text/javascript" src="lib/ui/minified/jquery.effects.core.min.js"></script>
		<script type="text/javascript" src="lib/ui/minified/jquery.effects.highlight.min.js"></script>
		<script type="text/javascript" src="lib/ui/minified/jquery.effects.slide.min.js"></script>
		<script type="text/javascript" src="lib/jquery.ui.preloader.min.js"></script>
		<script type="text/javascript" src="lib/jquery.ui.subclass.js"></script>
<!-- 		<script type="text/javascript" src="lib/ui.tabs.closable.js"></script> -->
		
		<script type="text/javascript" src="lib/jquery.json-2.2.min.js"></script>
		<script type="text/javascript" src="lib/jquery.jLog.min.js"></script>
		<script type="text/javascript" src="lib/jquery.pagination.js"></script>
		<script type="text/javascript" src="lib/jquery.tmpl.js"></script>
		<script type="text/javascript" src="lib/jquery.tooltip.pack.js"></script>
		<script type="text/javascript" src="lib/jquery.dump.js"></script>
		<script type="text/javascript" src="lib/jquery.format.js"></script>
		<script type="text/javascript" src="lib/jquery.localize.js"></script>
		<script type="text/javascript" src="lib/jquery.placeholder.js"></script>
		<script type="text/javascript" src="lib/jquery.raphael.spinner.js"></script>
		
		<script type="text/javascript" src="lib/jquery.hoverIntent.js"></script>
		
		<script>
			$("[rel^=localize]").localize("locale" ,{pathPrefix : "translations"});
			var language = $.localize.data.locale;
			if(!language)
				$.error("Localization failed");
			
		</script>
		<script type="text/javascript" src="lib/jstorage.js"></script>
		<script type="text/javascript" src="scripts/jq_extensions.js"></script>
		<script type="text/javascript" src="config.js"></script>
		
		<script type="text/javascript" src="scripts/selector_widget.js"></script>
		<script type="text/javascript" src="scripts/pie-widget.js"></script>
		
		<script type="text/javascript" src="scripts/util.js"></script>
		<script type="text/javascript" src="scripts/controller.js"></script>
		<script type="text/javascript" src="scripts/searchview.js"></script>
		<script type="text/javascript" src="scripts/resultsview.js"></script>
		<script type="text/javascript" src="scripts/model.js"></script>
		<script type="text/javascript" src="scripts/main.js"></script>
		<script type="text/javascript" src="scripts/querytable.js"></script>
		<script type="text/javascript" src="scripts/sidebar.js"></script>
		
		
	</head>
  	<body style="opacity : 0">
  		<div id="header">
  			<div id="top_bar">
  				<div id="mode_switch">
  					<a href="javascript:" rel="localize[modern_texts]" data-mode="default">Moderna texter</a>
  					<a href="javascript:" rel="localize[parallel_texts]" data-mode="parallel">Parallella texter</a>
  				</div>
				
		  			<a id="about" href="javascript:" rel="localize[about]">About Korp</a>
					<div id="languages">
		  				<a href="javascript:" rel="localize[swedish]" data-lang="sv">Svenska</a>
		  				<a href="javascript:" rel="localize[english]" data-lang="en">Engelska</a>
		<!--   				<li id="aboutLink" rel="localize[about]"></li> -->
		  			</div>
  			</div>
  			<div id="header_left">
 				<a href=""><img src="img/korplogo.png" /></a>
	 			<div id="corpusbox"></div>
  			</div>
  			<div style='clear : both;'></div>
  		</div>
		
  		
  		
		<div id="content">
	   		
	   		<div id="searchbar" ></div>
			
			<div id="results-wrapper">
				<div id="columns" >
					<div id="left-column" >
						<div id="result-container">
							<ul>
								<li class="on"><a href="#results-kwic">KWIC</a></li>
								<li><a href="#results-lemgram" rel="localize[lemgram_results]" >Ordbild</a></li><!-- class="ui-icon ui-icon-script" -->
								<li><a href="#results-stats" rel="localize[statistics]">Statistik</a></li>
							</ul>
							<div id="results-kwic">
								<a name="results"></a>
									<div id="result_controls">
									   <div><label for="num_hits" rel="localize[hits_per_page]">Träffar per sida</label>: 
									   <input name="num_hits" id="num_hits" size="3" value="25" type="number" step="5" ></div> 
									   <div id="controls_n" ><span rel="localize[num_results]">Antal resultat</span>: <span id="num-result"></span></div>
									   <div style="clear : both; float : none;" ></div>
								   </div>
								<div id="pager-wraper">
									<div class="pagination" id="Pagination"></div>
								</div>
								
								<div id="table_scrollarea">
									<table id="results-table" class="result_table" cellspacing="0"></table>
								</div>
							</div>
							<div id="results-lemgram"></div>
							<div id="results-stats">
								<div id="leftStatsTable" style="float:left; margin-left:-8"></div>
								<div id="rightStatsTable" style="float:left; overflow-x:auto; margin-left: -20px; padding-left: 0px"></div>
								<div style="clear : both; float : none;"></div><br/>
								<select id="kindOfData">
									<option value="relative" rel="localize[statstable_relfigures]">Relativa tal</option>
									<option value="absolute" rel="localize[statstable_absfigures]">Absoluta tal</option>
								</select>
								<select id="kindOfFormat">
									<option value="CSV" rel="localize[statstable_exp_csv]">CSV (kommaseparerade värden)</option>
									<option value="TSV" rel="localize[statstable_exp_tsv]">TSV (tabseparerade värden)</option>
								</select>
								<input id="exportButton" value="Exportera" rel="localize[statstable_export]" type="submit"/>
							</div>
								<div id="statsBubble" style="display:none; border-width:1; border-color:#00EEEE; background-color:#00EEEE; position:absolute; left:100px; top:100px; width:200px; height:100px; margin-left: 1px; z-index: 100">
									<div id="stats1_diagram"></div><br/>
								</div>
						</div>
						<div id="tooltip-container"></div>
						<a id="json-link" href="#"><img src="img/json.png" /></a>
					</div>
					<div id="sidebar" class="ui-corner-all" >	
						
						<div id="selected_sentence"></div>
						
						<div id="selected_word"></div>
					</div>
					<div style="clear : both; float : none;"></div>
				</div>
			</div>
		</div>
		
		<div id="about_content" title="Om Korp" style="display : none;"></div>
			
		
	<script id="sidebarTmpl" type="text/x-jquery-tmpl">
		
		<h4 rel="localize[${$item.header}_attr]">${util.getLocaleString($item.header + "_attr")}</h4>
		{{each $item.corpusAttributes}}
		<tr>
			{{if $value.displayType != "hidden"}}
			<p><span rel="localize[${$value.label}]">${util.getLocaleString($value.label)}</span>:
			{{if $value.dataset}}
			 ${$value.dataset[$data[$index]]}
			{{else $index == "lemma"}}
			{{html $item.parseLemma($data[$index])}} 
			{{else $value.type == "set"}}
			<span id="sidebar_${$index}">${$data[$index]}</span>
			{{else $value.type == "url"}}
			<a href="${$data[$index]}" class="exturl">${decodeURI($data[$index].split("/").slice(-1))}</a>
			{{else}}
			${$data[$index]}</p>
			{{/if}}

			</p>
			{{/if}}
	    </tr>
		{{/each}}
	</script>
	<script id="sentenceTmpl" type="text/x-jquery-tmpl">
		<tr class="sentence">
		  	<td class="left">
			{{tmpl(left) '#wordTmpl'}}
		  	</td>
		  	<td class="match">
				{{tmpl(match) '#wordTmpl'}}
		  	</td>
		  	<td class="right">
			{{tmpl(right) '#wordTmpl'}}
		  	</td>
	    </tr>
		{{if $item.aligned != null}}
		<tr id="linked_${corpus}" class="linked_sentence">
			<td colspan="3">
				{{each(corpus, sentence) $item.aligned}}
				{{tmpl(sentence) '#wordTmpl'}}
				{{/each}}
			</td>
		</tr>
		{{/if}}
	</script>
	
	<script id="wordTmpl" type="text/x-jquery-tmpl">
		<span class="word">${word}</span><span class="word_gap"> </span>
	</script>
	
	<script id="lemgramRowTmpl" type="text/x-jquery-tmpl">
		<div 
		{{if word}}
		data-word="${word}">
			<h3 id="display_word"></h3>
		{{else}}
		data-rel="${$data[0].rel}">
		<table>
			{{each $data}}
			{{if $item.lemgram == $.grep($value[(!$item.isAdj ? "head" : "dep")].split("|"), Boolean)[0]}}
			<tr>
				<td data-lemgram="${$.grep($value[(!$item.isAdj ? "dep" : "head")].split("|"), Boolean)[0]}" data-depextra="${$value.depextra}"></td> 
				<td>${util.localizeFloat($value.mi, 1)}</td>
				<td id="example_link" 
					data-head="${$value['head']}" 
					data-dep="${$value['dep']}" 
					data-rel="${$value.rel}" 
					data-depextra="${$value.depextra}" 
					data-corpus="${$value.corpus.join(",")}"
					{{if !util.isLemgramId($.grep($value[(!$item.isAdj ? "dep" : "head")].split("|"), Boolean)[0])}}
					class="alt_form"
					{{/if}}
					></td>
		    </tr>
			{{/if}}
			{{/each}}
		</table>
		{{/if}}
		</div>
	</script>
	



	</body>
 </html>
