@FONT-FACE {
	font-family: LindenHill;
	src: url('LindenHill.otf');
}

body {
	font-family : Helvetica, Arial, Verdana, sans-serif;
	font-size: 13px;
}

.ui-widget {
	font-family : inherit; 
}

a {
	text-decoration: none;
}
a:link {color:navy;}      /* unvisited link */
a:visited {color:purple;}  /* visited link */
a:hover {color:red;}  /* mouse over link */

.color_blue {
	background-color : #D0D7F0;
}
.color_purple {
	background-color : #F7D1E4;
}
.color_green {
	background-color : #EDFCD5;
}
.color_yellow {
	background-color : #FFF3D8;
}
.color_azure {
	background-color : #CAEEE8;
}
.color_red {
	background-color : #FFDDD8;
}


#content > div  {
	margin-bottom: 8px;
}
/*Korp header text */
h1 { 
	
/*	font-family: LindenHill;	*/
/*	#text-transform : uppercase;*/
/*	font-variant : small-caps;*/
/*	font-size : 80px;*/
/*	margin : -19px 0 0 10px;*/
	
	font-family: 'OFL Sorts Mill Goudy TT', serif;
	font-size: 81px;
	text-shadow: 4px 4px 4px #BBB;
	text-transform: uppercase;
	letter-spacing: 21px;
	font-weight: normal;
	margin: -25px 0 -18px 30px;
}

#corpus_id {
	font-family: monospace;
}

#cqp_string {
	font-family: monospace;
	width: 100%
}

#header {
	padding-top: 8px;
	width: 100%;
	margin-bottom: 15px;
}

#content {
	float: left;
	clear: both;
	width: 100%;
	padding : 10px 0 10px 0;
}

#header p,img,h1 {
	float: left;
	#margin-top : 16px;
}


#header p {
	margin: 0px;
	margin-left: 10px;
	/*	border-style:dotted;*/
	/*	border-width:1px;	*/
	/*	text-align:center;*/
}


.lang_selected {
	color : black;	
}

#languages {
	float: right;
	margin-left: 30px;
	list-style: none;
	color : navy;
}
#languages li {
	margin : 0 0;
	cursor : pointer;
}

.select_operation .select_language {
	visibility: hidden;
}

.query_header,.query_footer {
	background-color: #e1e1e1;
	padding: 1px 15px;
	margin: 5px;
	width: 80%;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
}

.logo {
	float: right;
}

#tabs-container {
	margin-top: -20px;
}

#korp-simple > div {
	float : left;
}

#similar_lemgrams {
	width: 40%;
	margin-left : 15px;
	
}

#similar_lemgrams a {
	padding-right : 5px;
	float : left;
	font-size : 12px;
}

.ui-tabs .ui-tabs-nav li a {
	float: left;
	padding-bottom: 0.2em;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 0.2em;
	text-decoration: none;
}


.ui-autocomplete-tall {
	max-height: 335px;
	overflow-y: auto;
	/* prevent horizontal scrollbar */
	overflow-x: hidden;
	/* add padding to account for vertical scrollbar */
	padding-right: 20px;
}

.ui-preloader {
	position: absolute;
	width: 20px;
	height: 20px;
	background: url(img/preloader.gif) no-repeat 0 0;
	overflow: hidden;
	background-size : 18px 18px;
}

.results_settings {
	margin: 0px;
	width: 83%;
}

.image_button {
	vertical-align: middle
}

.image_button:hover {
	cursor: pointer;
}

.insert_token {
	margin-top: 10px;
	float: none;
}

.line_above {
	border-style: dotted;
	border-width: 1px 0px 0px 0px
}

.indent {
	padding-left: 20px
}

.buttons_row {
	border-style: dotted;
	border-width: 1px 0px
}

/* div { padding: 10px 0px }  */
td {
	margin: 0px
}

table {
	margin: 0px 10px;
	padding: 0px 5px
}


.query_token {
	background-color: #e1e1e1;
	display: inline-table;
	vertical-align: top;
	padding: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
}

.cqp_toggle {
	margin-top: 5px;
	margin-bottom: 5px;
}

/* results*/
#results {
/* 	overflow: auto; */
/* 	clear: both; */
/* 	overflow-y: hidden; */
/* 	-ms-overflow-y: hidden; */
}

#Pagination {
	margin-left : 2px;	
}

#result_controls {
	margin-bottom : -20px;
	margin-left : 2px;
}

#result_controls > * {
	float : left;
}

#controls_n {
	margin-top : 6px;
}

#results-wraper {
	display: none;
}

#results-lemgram {
	overflow:auto
}
#lemgram_help {
	float : none;
	margin-left : 35px;
	margin-top : 10px;
	margin-bottom : 20px;
}
#lemgram_help > span {
	padding : 10px 10px;
}
.lemgram_result {
	float : left;
	padding-top : 4px;
	padding-bottom : 5px;
	padding-left : 5px;
	padding-right : 2px;
}

.lemgram_result table{
	padding : 0 0;
	margin : 0 0;
}


#table_scrollarea {
	
	overflow: auto; 
	clear: both;
	overflow-y: hidden;
	-ms-overflow-y: hidden;
	
}

#results-table {
	padding-left : 0;
	margin-left : 0;
/* 	max-width : 900px; */
	
	
}

#display_word {
/*	position: absolute;*/
/*	top: 50%;*/
	margin : auto 0;
}

#pager-wraper {
	clear: both;
}
#pager-wraper > div {
	margin-bottom : 30px;	
}

.result_table td {
	white-space: nowrap; 
}

.left {
	text-align: right;
	vertical-align: text-top;
}

.match {
	font-weight: bold;
	vertical-align: text-top;
	text-align : center;
}

.right {
	vertical-align: text-top;
}

.extra {
	color: #e1e1e1;
}

.alt {
	background: #dde9ff;
}

.alt td {
	border: none;
}

.attr {
	display: none;
	font-size: xx-small;
	vertical-align: bottom;
}

.sentence img {
	border-width: 0px;
}

.word {
	cursor: pointer;	
}

.word:hover {
	color: red;
}

.token_selected {
	color: #fff;
	background-color: #666;
	border-radius: 10px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 20px;

	padding-left: 3px;
	padding-right: 3px;
	margin-left: -3px;
	margin-right: -3px;
}

#result-container {
	clear: both;
}

#json-link {
	float: right;
	display: none;
	#margin-top: -13px;
}

#json-link img {
	border: 0px;
}

#tooltip-container {
	display: none;
}

#left-column {
	position : absolute;
	left : 8px;
}

#sidebar {
	position: absolute;
	right: 0px;
	width: 250px;
	background-color: #fff;
	border-style: solid;
	border-width: 1px;
	border-color: #999;
	#border-right-color:#fff;
	padding: 5px 0px 5px 5px;
	border-radius : 4px;
	margin-right : 8px;
	margin-left : 8px;
}

#sidebar div {
	margin-bottom: 10px;
}

#sidebar p {
	margin: 0 0 0 0;
}

#sidebar ul{
	margin-top : 0;
	margin-bottom : 8px;
	padding-left : 20px;
	list-style : none;	
}

#dialog ol {
	margin : 10px 0;
	font-size: 12px;
}
#dialog ol > li {
	padding : 5px 0;
	line-height : 18px;	
}


