body{font-size:1em;}
#corpus_id { font-family: monospace }
#cqp_string { font-family: monospace; width: 100% }


#header{
	padding-top: 0px;
	
	float:left;	
	clear:right;
}

#content{
	float:left;
	clear:both;
	width:100%;
}

#header p{
	margin: 0px;
	margin-left:10px;
	border-style:dotted;
	border-width:1px;	
	text-align:center;
	float:left;
}

#header img{
	float:left;	
}


.query_header, .query_footer { background-color: #e1e1e1; padding: 1px 15px; margin:5px; width:80%;-moz-border-radius: 5px;-webkit-border-radius: 5px;-khtml-border-radius: 5px;}

.logo{float:right;}


.results_settings{ margin:0px;width:83%;}

.image_button { vertical-align: middle }
.image_button:hover { cursor: pointer }


.insert_token{margin-top: 11px;}

.line_above { border-style: dotted; border-width: 1px 0px 0px 0px }
.indent { padding-left: 20px }

.buttons_row { border-style: dotted; border-width: 1px 0px }

/* div { padding: 10px 0px }  */
td { margin: 0px  }
table { margin: 0px 10px; padding: 0px 5px }
.query_token { background-color: #e1e1e1; display: inline-table; vertical-align: top; padding: 5px;-moz-border-radius: 5px;-webkit-border-radius: 5px;-khtml-border-radius: 5px;}

.cqp_toggle{
	margin-top: 5px; margin-bottom: 5px;	
}


/* results*/
#results{
	overflow: auto;
	clear:both;
	overflow-y: hidden;
	-ms-overflow-y: hidden;
}

#results-wraper{
	display:none;
	width:100%;
}

#pager-wraper{
	clear: both;
}

.result_table td {white-space: nowrap;}

.left{
	text-align:right;
	vertical-align:text-top;
}

.match{
	font-weight:bold;
	vertical-align:text-top;
}

.right{
	vertical-align:text-top;
}

.extra{
	color:#e1e1e1;
}

.alt{
	background: lightblue;
}

.alt td{
	border: none;
}

.attr{
	display:none;
	font-size:xx-small; vertical-align:bottom;
	
}

.sentence img{
	border-width: 0px;
}

.token_hover{
	color:red;	
}

#result-container{
	clear:both;	
}

/* Attributes color */
.msd{color:#999;} 
.lemma{color:#009;} 
.lex{color:#990;}
.lexem{color:#CCF;}
.sentence_n{color:#FF6;}


/* -------------------------------------------------------------------------
 * Navigation - tabs
 * ---------------------------------------------------------------------- */


/* tabs */
.anchors {
    list-style: none;
    margin: 0;
    padding: 0 0 0 5px;
	background: #ffffff;  
	margin-bottom: 0px;
}

.anchors ul{
    list-style: none;
	margin-bottom: 0px;
}

.anchors:after { /* clearing without presentational markup, IE gets extra treatment */
    display: block;
    clear: both;
    content: " ";
}
.anchors li {
    float: left;
    list-style: none;
    
    margin: 0 1px 0 0;
}
.anchors a {
    display: block;
    position: relative;
    top: 1px;
    border: 1px solid #eaeaea;
    border-bottom: 0;
    z-index: 2;
    padding: 2px 9px 1px;
    color: #000;
    text-decoration: none;
}
.anchors .on a {
    padding-bottom: 2px;
    font-weight: bold;
	border: 1px solid #000000;
	background: #eaeaea;  
	border-bottom:none;
}
.anchors a:focus, .anchors a:active {
    outline: none; /* @ Firefox 1.5, remove ugly dotted border */
}
.anchors .on a, .anchors a:hover, .anchors a:focus, .anchors a:active,
.anchor {
    background: #ffffff;    
}


.anchors .on a:link, .anchors .on a:visited { /* @ Opera, use pseudo classes otherwise it confuses cursor... */
    cursor: text;
}
.anchors a:hover, .anchors a:focus, .anchors a:active {
    cursor: pointer;
}
.anchor {
    padding: 10px;
	background: #ffffff; 
	border-top: 1px solid #000000;	
}

#json-link{
	float:right;	
	display:none;
}

#json-link img{ border:0px;}



