<div class="modal-header">
    <h3 class="modal-title">{{fileName}}</h3>
    <span ng-click="ok()" class="close-x">×</span>
</div>
<div class="modal-body">
    <div id="video-container">
        <video id="korp-video" width="100%" height="100%" controls ng-init="init()" controlsList="nodownload">
            Your browser does not support the video tag.
        </video>
        <div id="extra-controls" ng-show="isPaused">
            <div class="restart" ng-click="goToStartTime()">
                <i class="restart-icon fa-solid fa-repeat"></i>
                <span>{{"video_restart" | loc:lang}}</span>
            </div>
            <div class="continue" ng-click="continuePlay()">
                <i class="continue-icon fa-solid fa-play"></i>
                <span>{{"video_continue" | loc:lang}}</span>
            </div>
        </div>
    </div>
    <div id="video-meta-container">
        <div class="time-div">
            <span>{{"video_start_time" | loc:lang}}: <span class="time">{{startTime}}</span></span> <span>{{"video_end_time" | loc:lang}}: <span class="time">{{endTime}}</span></span>
        </div>
        <div>
            {{"video_utterance" | loc:lang}}: <span class="utterance">{{sentence}}</span>
        </div>
    </div>
</div>
