<div>


  <div ng-controller="ParallelSearch" ng-keydown="keydown($event)">
    <div ng-repeat="l in langs" >
      <select ng-model="l.lang" ng-options="langstr as (langstr | loc:lang) for langstr in getEnabledLangs($index)"></select>
      <label tooltip="{{'negate_explanation' | loc:lang}} " ng-show="!$first" for="negate_chk{{$index}}">{{"not_containing" | loc:lang}}</label> <input type="checkbox" id="negate_chk{{$index}}" ng-show="!$first" ng-model="negates[$index]" ng-change="negChange()">
      <div id="query_table" extended_list cqp="l.cqp"></div>
      
    </div>
    <input id="linkedLang" class="btn btn-sm" ng-disabled="!getEnabledLangs(langs.length).length" ng-click="addLangRow()" type="submit" value="{{'add_lang' | loc:lang}}">
    <!-- <span rel="localize[within]"></span> -->
    <input id="removeLang" class="btn btn-sm" ng-if="langs.length > 1" ng-click="removeLangRow($index)" type="submit" value="{{'remove_lang' | loc:lang}}">
    <!-- <option value="sentence" rel="localize[within_sentence]">Mening</option> -->
    <!-- <option value="paragraph" rel="localize[within_paragraph]">Stycke</option> -->
    <!-- <search-submit pos="right"></search-submit> -->
    <button ng-click="onSubmit()"  class="btn btn-sm">{{'search' | loc:lang}}</button> 
  </div>


</div>