<div>


  <div ng-controller="ParallelSearch">
    <div ng-repeat="l in langs" >
      <select ng-model="l.lang" ng-options="langstr as (langstr | loc) for langstr in getEnabledLangs($index)" >
        
      </select>
      <div id="query_table" extended_list cqp="l.cqp"></div>
      
    </div>
    <input id="linkedLang" class="btn btn-small" ng-disabled="!getEnabledLangs(langs.length).length" ng-click="addLangRow()" type="submit" value="{{'add_lang' | loc}}">
    <!-- <span rel="localize[within]"></span> -->
    <input id="removeLang" class="btn btn-small" ng-if="langs.length > 1" ng-click="removeLangRow($index)" type="submit" value="{{'remove_lang' | loc}}">
    <!-- <option value="sentence" rel="localize[within_sentence]">Mening</option> -->
    <!-- <option value="paragraph" rel="localize[within_paragraph]">Stycke</option> -->
    <!-- <search-submit pos="right"></search-submit> -->
    <button ng-click="onSubmit()" class="btn btn-small">{{'search' | loc}}</button> 
  </div>


</div>