<div>


  <div ng-controller="ParallelSearch" constr="ExtendedSearch" constr-name="extendedSearch">
    <div ng-repeat="l in langs" >
      <select ng-model="l.lang" ng-options="langstr as (langstr | loc) for langstr in getEnabledLangs($index)" >
        
      </select>
      <div id="query_table" extended_list cqp="l.cqp"></div>
      
    </div>
    <input id="linkedLang" ng-disabled="!getEnabledLangs(langs.length).length" ng-click="addLangRow()" type="submit" value="Fler språk"><span rel="localize[within]"></span>
    <input id="removeLang" ng-if="langs.length > 1" ng-click="removeLangRow($index)" type="submit" value="Färre språk">
    <select class="within_select"></select>
    <option value="sentence" rel="localize[within_sentence]">Mening</option>
    <option value="paragraph" rel="localize[within_paragraph]">Stycke</option>
    <input id="strict_chk" type="checkbox"/>
    <label for="strict_chk">{{'strict' | loc}}</label>
    <search-submit pos="right"></search-submit>
  </div>


</div>