div(ng-controller='ExtendedSearch')
    
  global-filters(lang="lang")
    
  #query_table(extended-list, cqp="cqp", lang="lang", repeat-error="repeatError")

  div(ng-show="repeatError" style="color: red; margin-bottom: 10px;") {{'repeat_error' | loc:lang}}

  search-submit(pos='right' on-search="onSearch()" on-search-save="onSearchSave(name)")
  span(rel='localize[within]')

  select.within_select(ng-model="within"
      ng-options="item.value as ('within_' + item.value | loc:lang) for item in withins")
