<div ng-controller="ExtendedToken">
    <div ui-sortable="{ items: '> .token', delay : 100 }" ng-model="data" >
        <div class="token query_token" ng-repeat="token in data track by $index" >
            <div class="token_header">
                <i class="close_btn fa fa-times-circle-o fa-1"
        
                      ng-click="removeToken($index)"></i>
                <div style="clear:both;"></div>
            </div>
            
            <div class="args">
                <div class="and query_arg" ng-repeat="and in token.and_block">
                    <span ng-show="$index">och</span>
            
                    <div class="or_container">
                        <div class="or or_arg" ng-repeat="or in and">
                            <div class="left_col">
                                <img class="image_button remove_arg" src="img/minus.png" ng-click="removeOr(token, and, $index)">
                            </div>
                            <div class="right_col inline_block" style="margin-left: 5px;">
                                <div class="arg_selects {{or.type}}">
                                    <select class="arg_type" 
                                        ng-options="obj | mapper:valfilter as obj.label | loc:lang group by obj.group | loc:lang for obj in types" 
                                        ng-model="or.type" ng-change="setDefault(or)"></select>
                                    
                                    <select class="arg_opts"
                                        ng-options="pair[1] as pair[0] | loc:lang for pair in getOpts(or.type)" 
                                        ng-model="or.op" ></select>
                                </div>
                                <div token-value="typeMapping[or.type]" model="or.val" or-obj="or" class="arg_val_container" lang="lang"></div>
                            </div>
                        </div>
                    </div>
                    <div class="arg_footer">
                        <span class="link" ng-click="addOr(and)">{{'or' | loc:lang}}</span>
                        <div style="clear:both;"></div>
                    </div>
                </div>
            </div>
            
            <div class="token_footer">
                <div>
                    <img src="img/plus.png" class="image_button insert_arg" ng-click="addAnd(token)">
        
                    <button popper class="btn btn-xs btn-default"><i class="fa fa-cog"></i></button>
                    <ul class="popper_menu dropdown-menu">
                        <li>
                            <a ng-click="toggleRepeat(token)" rel="localize[repeat]">{{'repeat' | loc:lang}}</a>
                        </li>
                        <li><a ng-click="toggleStart(token)" rel="localize[sent_start]">{{'sent_start' | loc:lang}}</a></li>
                        <li><a ng-click="toggleEnd(token)" rel="localize[sent_end]">{{'sent_end' | loc:lang}}</a></li>
                    </ul>
        
            
                    <div class="repeat" ng-show="token.repeat">
                        <span rel="localize[repeat]">{{'repeat' | loc:lang}}</span>
                        <input type="number" ng-model="token.repeat[0]" >
                        <span rel="localize[to]">{{'to' | loc:lang}}</span>
                        <input type="number" ng-model="token.repeat[1]">
                        <span rel="localize[times]">{{'times' | loc:lang}}</span>
                    </div>
            
                    <div style="clear:both;"></div>
                </div>
            
                <div class="lower_footer">
                    <span  class="lbound close_token" ng-show="token.bound.lbound">
                        <span rel="localize[sent_start]">{{'sent_start' | loc:lang}}</span>
                        <i class="fa fa-1 fa-times" ng-click="toggleStart(token)"></i>
                    </span>
                    <span class="rbound close_token" ng-show="token.bound.rbound">
                        <span rel="localize[sent_end]">{{'sent_end' | loc:lang}}</span>
                        <i class="fa fa-1 fa-times" ng-click="toggleEnd(token)"></i>
                    </span>
                </div>
            
            </div>
        </div>
    <img src="img/plus.png" class="image_button insert_token" ng-click="addToken()" ng-mousedown="onInsertMousedown($event)">
    </div>
</div>
