div(ng-controller='ExtendedSearch')
  #query_table(extended-list, cqp="cqp", lang="lang")

  search-submit(pos='right')
  span(rel='localize[within]')

  select.within_select(ng-model="within"
      ng-options="item.value as ('within_' + item.value | loc:lang) for item in withins")
