<div ng-controller="ExtendedToken">
    <div ui-sortable="{ items: '> .token', delay : 100 }" ng-model="data" >
        <div class="token query_token" ng-repeat="token in data track by $index" >
            <div class="token_header">
                <i class="close_btn fa fa-times-circle-o fa-1"
        
                      ng-click="removeToken($index)"></i>
                <div style="clear:both;"></div>
            </div>
            
            <div class="args">
                <div class="and query_arg" ng-repeat="and in token.and_block">
                    <span ng-show="$index">{{'and' | loc:lang}}</span>
            
                    <div class="or_container">
                        <div class="or or_arg" ng-repeat="or in and">
                            <extended-or-block or="or" on-remove="removeOr(token, and, $index)" ></extended-or-block>
                        </div>
                    </div>
                    <div class="arg_footer">
                        <span class="link" ng-click="addOr(and)">{{'or' | loc:lang}}</span>
                        <div style="clear:both;"></div>
                    </div>
                </div>
            </div>
            
            <div class="token_footer">
                <div>
                    <button class="insert_arg btn btn-xs btn-default" ng-click="addAnd(token)">
                        <i class="fa fa-arrow-down"></i>
                        <span style="margin-left: 1px;position: relative;top: -1px;">{{"and" | loc:lang}}</span>
                    </button>
                    <button popper class="btn btn-xs btn-default token-cog-btn"><i class="fa fa-cog"></i></button>
                    <ul class="popper_menu dropdown-menu">
                        <li>
                            <a ng-click="toggleRepeat(token)" rel="localize[repeat]">{{'repeat' | loc:lang}}</a>
                        </li>
                        <li><a ng-click="toggleStart(token)" rel="localize[sent_start]">{{'sent_start' | loc:lang}}</a></li>
                        <li><a ng-click="toggleEnd(token)" rel="localize[sent_end]">{{'sent_end' | loc:lang}}</a></li>
                    </ul>
        
            
                    <div class="repeat" ng-show="token.repeat">
                        <span rel="localize[repeat]">{{'repeat' | loc:lang}}</span>
                        <input type="number" ng-model="token.repeat[0]" ng-change="repeatChange(0, $index)" ng-blur="repeatBlur(0, $index)" ng-class="{'input-error': repeatError}">
                        <span rel="localize[to]">{{'to' | loc:lang}}</span>
                        <input type="number" ng-model="token.repeat[1]" ng-change="repeatChange(1, $index)" ng-blur="repeatBlur(1, $index)">
                        <span rel="localize[times]">{{'times' | loc:lang}}</span>
                    </div>
            
                    <div style="clear:both;"></div>
                </div>
            
                <div class="lower_footer">
                    <span  class="lbound close_token" ng-show="token.bound.lbound">
                        <span rel="localize[sent_start]">{{'sent_start' | loc:lang}}</span>
                        <i class="fa fa-1 fa-times" ng-click="toggleStart(token)"></i>
                    </span>
                    <span class="rbound close_token" ng-show="token.bound.rbound">
                        <span rel="localize[sent_end]">{{'sent_end' | loc:lang}}</span>
                        <i class="fa fa-1 fa-times" ng-click="toggleEnd(token)"></i>
                    </span>
                </div>
            
            </div>
        </div>
        <span class="image_button insert_token" ng-click="addToken()">
            <img class="plus-btn" src="../img/plus.png"> 
            <span>{{"add_token" | loc:lang}}</span>
        </span>
    </div>
</div>
