div(ng-controller='ExtendedSearch')
  #query_table(extended-list, cqp="cqp")

          
  //- input#strict_chk(type='checkbox')
  //- label(for='strict_chk') {{'strict' | loc}}
             
  search-submit(pos='right')
  span(rel='localize[within]')

  select.within_select(ng-model="within"
                       ng-options="item.value as ('within_' + item.value | loc) for item in withins")

  //- select.within_select
  //-   option(value='sentence', rel='localize[within_sentence]') Mening
  //-   option(value='paragraph', rel='localize[within_paragraph]') Stycke
