<div ng-controller="ExtendedToken">
    <div ui-sortable="{ items: '> .token', delay : 100 }" ng-model="data" scroll-to-start="scrollToStart">
        <div ng-repeat="token in data track by $index" class="token inline-block">
            <div ng-if="!token.struct" class="query_token">
                <div class="token_header">
                    <i class="close_btn fa-solid fa-circle-xmark text-gray-600" ng-class="{show: !showCloseButton}" ng-click="removeToken($index)"></i>
                    <div style="clear:both;"></div>
                </div>
                
                <div class="args">
                    <div class="and query_arg" ng-repeat="and in token.and_block">
                        <span ng-show="$index">{{'and' | loc:lang}}</span>
                
                        <div>
                            <div class="or or_arg" ng-repeat="or in and">
                                <div class="left_col">
                                    <img class="image_button remove_arg" src="../img/minus.png" ng-click="removeOr(token, and, $index)">
                                </div>
                                <div class="right_col inline_block ml-2">
                                    <div class="arg_selects {{or.type}}">
                                        <select class="arg_type"
                                            ng-options="obj | mapper:valfilter as obj.label | locObj:lang group by obj.group | loc:lang for obj in types" 
                                            ng-model="or.type" ng-change="setDefault(or)"></select>
                                        
                                        <select class="arg_opts"
                                            ng-options="pair[1] as pair[0] | loc:lang for pair in getOpts(or.type)" 
                                            ng-model="or.op" ></select>
                                    </div>
                                    <div token-value="typeMapping[or.type]" model="or.val" or-obj="or" class="arg_val_container" lang="lang"></div>
                                </div>
                            </div>
                        </div>
                        <div class="arg_footer">
                            <span class="link" ng-click="addOr(and)">{{'or' | loc:lang}}</span>
                            <div style="clear:both;"></div>
                        </div>
                    </div>
                </div>
                
                <div class="token_footer">
                    <div>
                        <button class="insert_arg btn btn-xs btn-default" ng-click="addAnd(token)">
                            <i class="fa-solid fa-arrow-down"></i>
                            <span style="margin-left: 1px;position: relative;top: -1px;">{{"and" | loc:lang}}</span>
                        </button>
                        <button popper class="btn btn-xs btn-default token-cog-btn flex items-center"><i class="fa-solid fa-bars mr-1"></i><span>{{'options' | loc:lang}}</span></button>
                        <ul class="popper_menu dropdown-menu">
                            <li>
                                <a ng-click="toggleRepeat(token)">{{'repeat' | loc:lang}}</a>
                            </li>
                            <li><a ng-click="toggleStart($index)">{{'sent_start' | loc:lang}}</a></li>
                            <li><a ng-click="toggleEnd($index)">{{'sent_end' | loc:lang}}</a></li>
                        </ul>
            
                
                        <div class="repeat" ng-show="token.repeat">
                            <span rel="localize[repeat]">{{'repeat' | loc:lang}}</span>
                            <input type="number" ng-model="token.repeat[0]" ng-change="repeatChange(0, $index)" ng-blur="repeatBlur(0, $index)" ng-class="{'input-error': repeatError}">
                            <span rel="localize[to]">{{'to' | loc:lang}}</span>
                            <input type="number" ng-model="token.repeat[1]" ng-change="repeatChange(1, $index)" ng-blur="repeatBlur(1, $index)">
                            <span rel="localize[times]">{{'times' | loc:lang}}</span>
                        </div>
                
                        <div style="clear:both;"></div>
                    </div>                
                </div>
            </div>
            <div ng-if="token.struct" class="query_token mt-8">
                <div class="token_header">
                    <i class="close_btn fa-solid fa-circle-xmark text-gray-600" ng-click="removeTag($index)"></i>
                    <div style="clear:both;"></div>
                </div>
                
                <div class="args">
                    <div class="query_arg tag-box">                
                        <div class="or or_arg">
                            <div>{{ 'boundary_unit' | loc:lang }}</div>
                            <select class="tag_arg" ng-options="tag as ('tag_' + label | loc:lang) for (tag, label) in tagTypes" ng-model="token.struct"></select>
                        </div>
                        <div>
                            <label class="px-2"><input class="mr-1" type="radio" ng-model="token.start" ng-value="true" />{{ 'starts' | loc:lang }} </label>
                            <label class="px-2"><input class="mr-1" type="radio" ng-model="token.start" ng-value="false" />{{ 'ends' | loc:lang }}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <add-box add-token="addToken()" add-struct-token="addStructToken(start)"></add-box>
    </div>
</div>
