div
  div(ng-controller="ParallelSearch" ng-keydown="keydown($event)")
    div(ng-repeat="l in langs")
      select(ng-model="l.lang", ng-options="langstr as (langstr | loc:lang) for langstr in getEnabledLangs($index)")
      label(uib-tooltip="{{'negate_explanation' | loc:lang}} ", ng-show="!$first", for="negate_chk{{$index}}") {{"not_containing" | loc:lang}}
      input(type="checkbox", id="negate_chk{{$index}}", ng-show="!$first", ng-model="negates[$index]", ng-change="negChange()")
      div#query_table(extended_list, cqp="l.cqp")
      
    input#linkedLang.btn.btn-default.btn-sm(ng-disabled="!getEnabledLangs(langs.length).length" ng-click="addLangRow()" type="submit" value="{{'add_lang' | loc:lang}}")
    input#removeLang.btn.btn-default.btn-sm(ng-if="langs.length > 1", ng-click="removeLangRow($index)", type="submit", value="{{'remove_lang' | loc:lang}}")
    button(ng-click="onSubmit()", class="btn btn-default btn-sm") {{'search' | loc:lang}}
