<div id="korp-simple" constr="SimpleSearch" constr-name="simpleSearch" ng-controller="SimpleCtrl" >
    <form >
        <label for="simple_text" rel="localize[search_for]">Sök efter</label>
        <input id="simple_text" type="text" ng-model="simple_text" />
        <!--            <span id="keyboard" class="lig">&#xe07d;</span> -->
        <span id="keyboard" class="ui-state-default specialkey">ð</span>

        <!-- <input id="sendBtn" value="  Sök  " type="submit" rel="localize[search]" /> -->
     
        <search-submit></search-submit>
    </form>
    <!-- <div class="btn-group">
        <button class="btn btn-small" id="sendBtn">Sök</button>
        <button class="btn btn-small" korp-popover ng-click="togglePopover()">
            <span class="caret"></span>
        </button>
    </div>
    <div class="popover bottom compare">
        <div class="arrow"></div>
        <h3 class="popover-title">Spara för jämförelse</h3>
        <form class="popover-content" ng-submit="saveSearch(name)">
            <div>
                <label for="cmp_input">Namn:</label> <input id="cmp_input" ng-model="name">
            </div>
            <div class="btn_container"><button class="btn btn-primary btn-small">Spara</button></div>
        </form>
    </div>
 -->

    <span rel="localize[and_include]">och inkludera</span>
    <input id="prefixChk" type="checkbox">
    <label rel="localize[prefix]" for="prefixChk">förled</label>
    <input id="suffixChk" type="checkbox">
    <label rel="localize[suffix]" for="suffixChk">efterled</label>
    &nbsp;
    <span rel="localize[and]">och</span>
    <input id="caseChk" type="checkbox">
    <label for="caseChk" rel="localize[case_insensitive]">shiftlägesoberoende</label>

    <table id="char_table">
        <tbody>
            <tr>
                <td class="ui-state-default specialkey">å</td>
                <td class="ui-state-default specialkey">ä</td>
                <td class="ui-state-default specialkey">ö</td>
                <td class="ui-state-default specialkey">æ</td>
                <td class="ui-state-default specialkey">œ</td>
                <td class="ui-state-default specialkey">ð</td>
                <td class="ui-state-default specialkey">þ</td>
                <td class="ui-state-default specialkey">Å</td>
                <td class="ui-state-default specialkey">Ä</td>
                <td class="ui-state-default specialkey">Ö</td>
                <td class="ui-state-default specialkey">Æ</td>
                <td class="ui-state-default specialkey">Œ</td>
                <td class="ui-state-default specialkey">Ð</td>
                <td class="ui-state-default specialkey">Þ</td>
            </tr>
        </tbody>
    </table>


    <div id="similar_wrapper">
        <div id="similar_lemgrams"></div>
    </div>
    <div style="float: none; clear: both;"></div>
</div>