@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);

body {
	font-family : 'Source Sans Pro',Helvetica, Arial, Verdana, sans-serif;
	font-size: 13px;
	margin : 0;
	overflow-x : hidden;
}

ul, ol {
	list-style: none;	
}

h4 {
	text-transform: capitalize;
}

#welcome {
	padding : 0.2em;
}
.welcome-header {
	padding : 0.7em;
}

.ui-widget {
	font-family : inherit; 
}

sup {
	line-height : 0px;	
}

img {
	border : 0px;	
}

a {
	text-decoration: none;
}
a:link {color:navy;}      /* unvisited link */
a:visited {color:purple;}  /* visited link */
a:hover {color:indianred;}  /* mouse over link */

.link {
	color : navy !important;
	cursor : pointer;
}
.link:hover {color : indianred !important;}


.radialBkg {
	background: #f9fdff; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, #f9fdff 56%, #ebf0f4 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(56%,#f9fdff), color-stop(100%,#ebf0f4)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, #f9fdff 56%,#ebf0f4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, #f9fdff 56%,#ebf0f4 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, #f9fdff 56%,#ebf0f4 100%); /* IE10+ */
	background: radial-gradient(center, ellipse cover, #f9fdff 56%,#ebf0f4 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9fdff', endColorstr='#ebf0f4',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}


.inline_block {
	display : inline-block;
	*display : inline;
}

.invalid_input{
	border-color : red;
}

.color_blue {
	background-color : #D0D7F0;
}
.color_blue_light {
	background-color : #ebeefa;
}
.color_purple {
	background-color : #F7D1E4;
}
.color_purple_light {
	background-color : #f7edf3;
}
.color_green {
	background-color : #EDFCD5;
}
.color_green_light {
	background-color : #f7fceb;
}
.color_yellow {
	background-color : #FFF3D8;
}
.color_yellow_light {
	background-color : #fffaed;
}
.color_azure {
	background-color : #CAEEE8;
}
.color_azure_light {
	background-color : #edf7f5;
}
.color_red {
	background-color : #FFDDD8;
}
.color_red_light {
	background-color : #fcece8;
}
.color_white {
	background-color : white;	
}

.color_unfocused {
	background-color : #EEEEEE;
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
	font-size : 1em;
	font-family : inherit;
}	

#header_left {
	float : left;	
}
#header_left > a {
	margin-right : 10px;
}

#search_history {
	margin-right : 8px;
	margin-top : 45px;
	max-width : 150px;
	position : absolute;
	right : 0;
}

#search_history > option:first-child {
	color : grey;
}

#search_history:empty {
	visibility: hidden;
}

#top_bar {
	height : 30px;
	width : 100%;
	/* IE10 */ 
	background-image: -ms-linear-gradient(bottom, #FCFAFC 0%, #D9D9D9 100%);
	
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(bottom, #FCFAFC 0%, #D9D9D9 100%);
	
	/* Opera */ 
	background-image: -o-linear-gradient(bottom, #FCFAFC 0%, #D9D9D9 100%);
	
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FCFAFC), color-stop(1, #D9D9D9));
	
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(bottom, #FCFAFC 0%, #D9D9D9 100%);
	
	/* Proposed W3C Markup */ 
	background-image: linear-gradient(bottom, #FCFAFC 0%, #D9D9D9 100%);
}

/*match placeholder/watermark padding to border+padding for input element*/
label.placeholder {
	cursor: text;
	padding: 4px 4px 4px 4px;
	color: #999999;
}
/* html5 placeholder support */
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
	color:#999999;
}
input:placeholder, textarea:placeholder {
	color:#999999;
}

#content > div  {
/* 	margin-bottom: 8px; */
}

#search_options {
	border-top : none;
	padding : 8px;
	background-image : none;
	margin-bottom : 8px;
}

#search_options > div {
	display : inline-block;
	margin-right : 10px;
}

#corpus_id {
	font-family: monospace;
}

#cqp_string {
	font-family: monospace;
	width: 100%
}

#header {
	width: 100%;
	margin : 0;
	position : relative;
}

#content {
	padding : 0 8px 8px 8px;
}

.num_hits {
	margin-right : 5px;
}

.lang_selected {
	color : black;	
}

#languages {
	float : right;
	margin-right : 8px;
}

#query_table,.lang_row {
	overflow : auto;	
	white-space: nowrap;
	margin-bottom : 15px;
}
.lang_row {
    padding : 8px;
}

#query_table > select,.lang_row > select {
    margin-left : 2px;
    display : block;
}

.lang_row:nth-child(2n) {
    background-color: #F5F5F5;
}

.mode-parallel #linkedLang {
    display : inline;
}

#removeLang, #linkedLang {
    display : none;   
}

.lang_row + #removeLang {
    display : inline;
}

.remove_arg {
	position: relative;
	top : 15px;
	opacity : 1;
	-moz-transition: opacity 200ms ease;
	-webkit-transition: opacity 200ms ease;
	transition: opacity 200ms ease;
}

.insert_arg {
	margin-top : 4px;
	float : left;
}

.query_token .repeat {
	float : right;
	font-size : 10px;
	margin-right : 25px;
}
.query_token .repeat input {
	max-width : 30px;
	
}

.ui-icon-gear {
    background-position: -193px -114px;
}

.insert_token {
	position: relative;
	top : 54px;
	margin-left : 10px;
}

.arg_selects {
	
}
.arg_type {
	display : inline-block;
	min-width : 150px;
}
.arg_opts {
	margin-left : 5px;
}

input.arg_value {
	width : 98%;
}
input.arg_value {
	
}
.arg_value option {
	padding-top: 1px;
	padding-bottom: 1px;
}

.btn-icon {
	vertical-align : top;
	display : inline-block;
	cursor : pointer;
	position : relative;
	right : -4px;
    top : -5px;
}

.query_token button {
	width : 20px;
	height : 20px;
	float : right;
}
.token_footer {
	position: relative;
}

.token_footer ul {
	margin-top : -5px;
	background-color : white;
	position: absolute;
	display: none;
}
.query_token button .ui-button-text {
	height : 0;
}
.token_footer ul, li {
	margin : 0;
	padding : 0;
}

.statisticWords {
	border-style: hidden;
}

.searchForWordformInCorpus {
	cursor:pointer;
}

.corpusTitleHeader {
	cursor:pointer;
}

.ext {
	margin-right: 0px;
}

.scroll_checkboxes {
	width: 480px;
	height: 33px;
	overflow: hidden;
	margin-bottom: 6px;
	vertical-align: bottom;
}

.buttonlink {
	padding: .4em 1em .4em 20px;
	color: #222222;
	text-decoration: none;
	position: relative;
	text-size: .6em;
}

.buttonlink:link {
	color: #222222;
}

.buttonlink:visited {
	color: #222222;
}

.buttonlink:hover {
	color: #444444;
}


.buttonlink span.ui-icon {
	margin: 0 5px 0 0;
	position: absolute;
	left: .2em;
	top: 50%;
	margin-top: -8px;
}

.popupchecks {
	z-index: 9999;
	max-height:600px;
	width: 446px;
	border : solid thin #CCCCCC;
	background-color: #FEFEFE;
	overflow-y: auto;
	overflow-x: hidden;
	display: none;
	padding : 10px;
	position : absolute;
}
.popupchecks .header {
	text-align:right;
	margin : 10px 0;
}
.popupchecks .header a {
	margin-left : 8px;	
}

.numberOfChildren {
	color: #888888;	
}

.hp_topframe {
	height: 16px;
	width: 433px;
	padding-top: 7px;
	padding-bottom: 7px;
}

.webkit .hp_topframe > div {
    margin-top : 1px;
}

#corpusbox {
	cursor : pointer;
}

.tree {
	margin-top: 1px;
	margin-bottom: -3px;
	padding-top: 3px;
	padding-bottom: 1px;
	overflow-x : hidden;
}

.collapsed {
	margin-bottom: 0px;
}

.boxdiv {
	margin-top: 2px;
	background-color: #F6F6F6;
	padding-top: 3px;
	padding-bottom: 1px;
	margin-bottom: 2px;
}

.hplabel, .boxlabel {
	padding : 2px 6px 0px 6px;
}


.boxlabel > span {
	background: #FFFFFF;
}

.checkbox {
	width: 12px;
	height: 12px;
}
.query_footer {
	background-color: #e1e1e1;
	padding: 1px 8px 8px 8px;
	margin-bottom: 5px;
	width: 50%;
	display: table;
}


#similar_lemgrams {
	margin-top : 5px;
	padding : 8px;
	overflow-y : hidden;
}

#similar_wrapper {
	max-width: 50%;
}

#similar_lemgrams:empty {
	padding : 0;	
}

#similar_lemgrams p {
	margin-top : 2px;	
	margin-bottom : 7px;
}

#similar_lemgrams a {
	font-size : 12px;
}

#similar_lemgrams ul {
	margin : 0;
	padding-left : 10px;
}
#similar_lemgrams li {
	padding : 5px 0;
}

#show_more {
	float:right;
	position : relative;
	top : -3px;
	padding : 2px 2px 0 2px;
	
}
#show_more a {
	font-size : 12px;
	font-weight: bold;
}

.ui-tabs .ui-tabs-nav li a {
	float: left;
	padding-bottom: 0.2em;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 0.2em;
	text-decoration: none;
}


.ui-autocomplete-tall {
	max-height: 335px;
	overflow-y: auto;
	/* prevent horizontal scrollbar */
	overflow-x: hidden;
	/* add padding to account for vertical scrollbar */
	padding-right: 20px;
}

.ui-preloader {
	position: absolute;
	width: 20px;
	height: 20px;
	overflow: hidden;
	background-size : 18px 18px;
}

.image_button:hover {
	cursor: pointer;
}


td {
	margin: 0px
}

table {
	margin: 0px 10px;
	padding: 0px 5px
}

.query_token {
	background-color: #e1e1e1;
	display: inline-table;
	*display : inline;
	vertical-align: top;
	padding: 5px;
	
	border : 1px solid #999;
	cursor : move;
	margin-left : 0;
	margin-right : 10px;
	margin-bottom : 5px;
	box-shadow: 2px 2px 3px grey;
}

.query_token.ui-sortable-helper {
	width : 275px !important;	
}

.cqp_toggle {
	margin-top: 5px;
	margin-bottom: 5px;
}

.result_controls {
	position: relative;
}

#results-kwic > div:not(:last-child) {
	margin-bottom : 8px;
}

.result_controls > * {
/* 	float : left; */
	display : inline-block;
	*display : inline;
	vertical-align: bottom;
}

.controls_n {
	margin-top : 3px;
	margin-right : 5px;
}
.loading .controls_n {
	color : darkgrey;
	font-style: italic;
}

#results-lemgram {
	overflow:auto;
}
#results-lemgram > span * {
	margin-top : 11px;
}
.lemgram_help {
	white-space : nowrap;
	margin-top : 10px;
	margin-bottom : 20px;
}
.lemgram_help > span {
	padding : 10px 10px;
}


.ui-tabs .ui-tabs-nav li a {
	padding-top : 0.3em !important;
	padding-bottom : 0.3em !important;
}

.spinner {
	display : inline-block;
	margin : 3px 2px -2px -4px;
}

.lemgram_result {
	float : left;
	padding-top : 4px;
	padding-bottom : 5px;
	padding-left : 5px;
	padding-right : 2px;
	counter-reset: wordpic;	
}

.lemgram_result table{
	padding : 0 0;
	margin : 0 0;
}


.table_scrollarea {
	
	overflow: auto; 
	clear: both;
	overflow-y: hidden;
	-ms-overflow-y: hidden;
	
}

.results_table {
	padding-left : 0;
	margin-left : 0;
}

.results_table td{
	white-space : nowrap;
	border : none;	
}

#display_word {
	margin : auto 0;
}

.table_scrollarea + .pager-wrapper {
	margin-top : 15px;
}

.pagination {
	height : 20px;
}

.reading_btn {
    margin-left : 1em;
    display : none;
    vertical-align: top;
    margin-top : 3px;
}
.not_loading .reading_btn {
    display : inline-block;
}


.reading_mode .reading_btn.show, .reading_btn.hide {
    display : none;
}
.reading_mode .reading_btn.hide {
    display : inline;
    
}

.results_table.reading {
    margin-left : 10%;
}

.reading_match {
   font-weight : bold;
}

.results_table.reading tr {
    display : block;
    padding : 1em;
    width : 400px;
}

.result_table td {
	white-space: nowrap; 
}

.left {
	text-align: right;
	vertical-align: text-top;
}

.match {
	font-weight: bold;
	vertical-align: text-top;
	text-align : center;
	padding : 0 4px;
}

.corpus_title {
	font-weight: bold;
	vertical-align: text-top;
	text-align : center;
	padding : 0 4px;
	
	
	font-weight: normal;
	font-variant: small-caps;
	color : #666;
	font-size : 11px;
	border-top : 3px solid white;
	border-bottom : 3px solid white;
	border-width : 3px !important;
	
}

.reading_mode .corpus_title_span {
    margin : 0;
    margin-left : -21px;
    font-size : 3em;
}

.corpus_title_span {
	margin : 0 -100px;
}

.right {
	vertical-align: text-top;
}

.extra {
	color: #e1e1e1;
}

.alt {
	background-color: #dde9ff;
}

.alt td {
	border: none;
}

.attr {
	display: none;
	font-size: xx-small;
	vertical-align: bottom;
}

.sentence img {
	border-width: 0px;
}

.word {
	cursor: pointer;	
}

.word:hover {
	color: indianred;
}

.word_selected {
	border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;	
	padding-left: 3px;
	padding-right: 3px;
	margin-left: -3px;
	margin-right: -3px;
		
}

.token_selected {
	color: #fff;
	background-color: #666;
}

.aux_selected {
	color: #000;
	background-color: #FFDDD8;
}

#result-container {
	clear: both;
}

#json-link {
	float: right;
	display: none;
}

#json-link img {
	border: 0px;
}

#columns {
	position : relative;
	max-height : 600px;
}

#left-column {
	position : absolute;
	left : 0px;
}

#sidebar {
	position: absolute;
	right: 0px;
	width: 250px;
	padding: 5px 0px 5px 5px;
	
}
#sidebar.fixed {
	right : 8px;
	position : fixed;
	top : 8px;
}

#sidebar:empty {
	padding : 0;
	border : none;
}

#sidbar_info {
	display : inline-block;
	position: relative;
    top: 3px;
    left: 5px;
    opacity: .8;
    margin-top : -4px;
}

.kwic_sidebar {
	background-color: #fff;
	border-style: solid;
	border-width: 1px;
	border-color: #999;
}

#sidebar div {
	margin-bottom: 10px;
}

#sidebar p {
	margin: 0 0 0 0;
}

#sidebar ul{
	margin-top : 0;
	margin-bottom : 2px;
	padding-left : 20px;
	list-style : none;
	line-height: 16px;	
}

#dialog ol {
	margin : 10px 0;
	font-size: 12px;
	list-style : decimal;
}
#dialog ol > li {
	padding : 5px 0;
	line-height : 18px;	
}

#results-stats table {
	border-width: 1px;
	border-collapse: collapse;
	border-color: gray;
	background-color: white;
	border-spacing : 0;
	
}

#results-stats th, #results-stats td {
	border-width: 1px;
	padding: 2px 4px;
	border-style: solid;
	border-spacing : 0;
	border-color: rgb(204, 204, 204);
	background-color: white;
	text-align: right;
}

span.absStat {
	color: #999999;
}

a.absStat {
	color: #999999;
}


a.absStat:hover {
	color: indianred;
}

a.relStat {
	color: #000000;
}

a.relStat:hover {
	color: indianred;
}

.word_column {
	text-align : left;
}

.linked_sentence {
	overflow-x : visible;
	font-weight: normal;
	color : #999;
	font-style: italic;
	position : relative;	
}

.linked_sentence td {
	/*text-align : center;*/
}	

#about_content ul {
	padding-left : 10px;
	margin-top : 8px;
}

/* when selecting a word, not a lemgram, this pops up. */
.lemgram_select {
	margin-top : 8px;
}

#highlight {
	position : absolute;
	background-color : #FFF3D8;
	
	
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
}

.inline_list {
	margin: 0;
	padding: 0;
}
.inline_list li {
	display: inline-block;
}
.msie8 .inline_list li {
	display: inline;
}

.inline_list span {
	padding : 0 5px;
	color : grey;
}

#mode_switch {
	margin-left : 8px;
	float : left;
}

.radioList_selected {
	color : black !important;
	cursor : default;
}

.custom_anchor {
	padding-right: 8px !important;
}

.tabClose {
	padding : 0 !important;
	margin-right : 6px;
	cursor : pointer !important;
}

.hits_picture_table {
/* 	opacity: .3; */
	width: 100%;
	padding: 0px;
}
.hits_picture_corp:hover {
}
.hits_picture {
	cursor : pointer;
	position: absolute;
	right : 10px;
	left : 280px;
	top : -1px;
	
	-moz-transition: left 400ms ease;
	-webkit-transition: left 400ms ease;
	transition: left 400ms ease;
}

#showLineDiagram {
	position : relative;
	top : 3px;
}

.query_token .logic_switcher {
	float : left;
}

.query_token .ui-icon-circle-close {
	float : right;
	opacity : 1;
	-moz-transition: opacity 200ms ease;
	-webkit-transition: opacity 200ms ease;
	transition: opacity 200ms ease;
}

.query_token:only-of-type .ui-icon-circle-close {
	opacity : 0;
	cursor : default; 
	-moz-transition: opacity 200ms ease;
	-webkit-transition: opacity 200ms ease;
	transition: opacity 200ms ease;
	
}

.right_col {
	padding-right : 2px;
}

.right_col input {
	*float : right;
}

.query_arg {
	border-radius : 2px;
	padding : 5px;
	background-color : #f7fceb;
	border : solid 1px #999;
	margin-bottom : 5px;
}

.or_arg {
	margin-bottom : 5px;
}

.or_arg .ui-icon-info {
	display : inline-block;
	cursor : pointer;
	position : relative;
	top : 3px;
}

.query_arg:only-of-type .or_arg:only-child .remove_arg {
	cursor : default;
	opacity : 0;
	-moz-transition: opacity 200ms ease;
	-webkit-transition: opacity 200ms ease;
	transition: opacity 200ms ease;
}
.arg_header {
	opacity : 0;
	-moz-transition: opacity 200ms ease;
	-webkit-transition: opacity 200ms ease;
	transition: opacity 200ms ease;
	margin-bottom : 1px;
}
.or_arg:not(:only-child):first-child .arg_header {
	opacity : 1;
	-moz-transition: opacity 200ms ease;
	-webkit-transition: opacity 200ms ease;
	transition: opacity 200ms ease;
	
}

.and:first-of-type {
	display : none !important;
}

.arg_header {
	font-size : 10px;
}

.arg_footer {
}

.insert_or {
	padding-top : 6px;
	right : 0;
	cursor : pointer;
	float : right;
}

.sort_select {
}

.pager-wrapper {
	display: inline-block;
}

.col_wrapper {
}	

.sidebar_url {
	white-space: nowrap;
}

/* .odd_corpus + .even_corpus > td,.even_corpus + .odd_corpus > td { */
/* 	border-top-style : solid; */
/* 	border-width : 1px; */
/* 	border-color : inherit;  */
/* } */

.arcDiagramPicture {
	cursor : pointer;
	margin-bottom : -2px;
	padding-left : 5px;
	padding-right : 5px;
}

.c0 {
	position: relative;
}
.arcDiagramPicture {
	position: absolute;
	right : 0;
}

.slick-cell > span {
	position: absolute;
	top : 3px;
}

.slick-cell {
	position: relative;
}

.lemgram_section {
	display : inline-block;
	margin-right : 30px;
}

.tableContainer {
	margin-bottom : 15px;
	display : inline-block;
	padding : 10px;
	
	border : solid 1px lightgray;
	margin-right : 20px;
	
}

.tableContainer > .header {
	color : #333;
	font-size : 1.1em;
	margin-bottom : 1em;
	font-family : Lucida Grande, sans-serif;
}

.explanation {
	font-size : 12px;
	padding : 0 20px;
}

.ui-dialog ul,ol {
	padding-left : 0; 
}

.ui-dialog li {
	margin-bottom : 3px;
}

.autocomplete-item-disabled a {
	font-style: italic;
	color : indianred;
	opacity : 0.7;
}

#showLineDiagram {
	display: none;
}
.lab #showLineDiagram {
	display : inline;	
}
#labs_logo {
	display : none;
}
.lab #labs_logo {
	display : inline-block;
	*display : inline;
}
#korplink {
	display : none;
}
.lab #korplablink {
	display : none;
} 
.lab #korplink {
	display : block;
}

#cog {
	float : right;
	margin-top : -2px;
	cursor : pointer;
}
#cog_menu {
	position : absolute;
	font-size : inherit;
	text-align : right;
}
.ui-menu {
	box-shadow: 2px 2px 3px grey;
	z-index : 999;
}

.korp_fail {
	height : 146px;
	width : 290px;
}
.fail_text {
	margin : 1em 0 0 1em;
	vertical-align: top;
	font-family : Garamond,Cochin,Serif;
	font-size : 1.3em;
	
}

.error_msg ~ * {
	display : none !important;
}

.sidebar_msd {
	font-size : 0.8em;
}

#korp-extended #sendBtn ~ * {
	display : none;
}
.lab #korp-extended #sendBtn ~ * {
	display : inline;
}

#mode_switch li:nth-child(3) ~ * {
    display : none;
}

.lab #mode_switch li{
    display : inline-block;
}


#search-tab {
	border-bottom-right-radius : 0;
	border-bottom-left-radius : 0;
}

.val_mod {
	display : none;
	letter-spacing : 1px;
	font-size : .8em;
	cursor : pointer;
	margin-right : 1px;
}

.arg_value[type=text]:not(.ui-autocomplete-input) {
	width : 91%;
	margin-right : 3px;
}
.arg_value[type=text]:not(.ui-autocomplete-input) + .val_mod {
	display : inline;
}

#mod_menu {
	cursor : default;
	position : absolute;
	font-size : .9em;
	text-align : right;
}

.val_mod.insensitive {
	color : lightgrey;
}
.val_mod.sensitive {
	color : black;
}

.val_mod.sensitive + #mod_menu li:first-of-type a {
	text-decoration: underline;
}
.val_mod.insensitive + #mod_menu li:nth-of-type(2) a {
	text-decoration: underline;
}

#plot_popup {
	padding-top : 15px;
	height : 0;
	overflow-y : hidden;
	overflow-x : auto;
	
}
.enumerate {
    counter-increment: wordpic;
}
.enumerate:before {
    content: counter(wordpic) ".";
}

#showBarPlot {
	display : none;
}
.lab #showBarPlot {
	display : inline-block;
}

#wordclassChkParent {
	float : right;
}

#wordclassChk {
}

.tab_progress {
	height : 2px;
	background-color : darkblue;
	max-width : 100%;
}
.not_loading .tab_progress {
	display : none;
}
.progress {
	width : 143px;
	overflow-x : hidden;
	-moz-transition: width 400ms ease;
	-webkit-transition: width 400ms ease;
	transition: width 400ms ease;
}
#results-kwic.not_loading .progress {
	width : 0;
	
	-moz-transition: width 400ms ease;
	-webkit-transition: width 400ms ease;
	transition: width 400ms ease;
}

.not_loading .hits_picture {
	left : 180px;
	-moz-transition: left 400ms ease;
	-webkit-transition: left 400ms ease;
	transition: left 400ms ease;
}

#results-stats.not_loading .progress, #results-lemgram.not_loading .progress {
	display : none;
}

