tab(active="active", ng-controller='kwicCtrl', ng-repeat='queryParams in kwicTabs', select="instance.onentry()", deselect="instance.onexit()")
  tab-heading(ng-class="{not_loading: progress == 100, loading : !instance.hasData}")
    | KWIC

    span(ng-click='kwicTabs.splice($index, 1)', tab-spinner='tab-spinner')
  div(ng-class="{reading_mode : reading_mode}", constr='ExampleResults' )
    include kwicresult
tab(active="active", ng-repeat='data in graphTabs', ng-controller='graphCtrl')
  tab-heading(ng-class="{not_loading: progress > 99}")
    | {{'graph' | loc}}
    .tab_progress(style="width:{{progress || 0}}%", ng-show="loading")
    span(ng-click='graphTabs.splice($index, 1)', tab-spinner='tab-spinner')
  div(constr='GraphResults')
    .graph_header
      .controls(ng-show="!loading")
        //- .form_switch
        //-   input#line_input(type='radio', name='form_switch', value='line', checked='checked')
        //-   label(for='line_input') Linje
        //-   input#bar_input(type='radio', name='form_switch', value='bar')
        //-   label(for="bar_input") Stapel
        //-   input#table_input(type='radio', name='form_switch', value='table')
        //-   label(for="table_input") Tabell


        .btn-group.form_switch
          label.btn.btn-default.btn-small(ng-model="$parent.mode", btn-radio="'line'") {{'line' | loc}}
          label.btn.btn-default.btn-small(ng-model="$parent.mode", btn-radio="'bar'") {{'bar' | loc}}
          label.btn.btn-default.btn-small(ng-model="$parent.mode", btn-radio="'table'") {{'table' | loc}}

        //- label.smoothing_label(for='smoothing_switch') Utj채mna
        //- input#smoothing_switch.smoothing_switch(type='checkbox')
        .non_time_div
          span(rel='localize[non_time_before]')
          span.non_time
          span(rel='localize[non_time_after]')
      .legend(ng-show="!loading && isGraph()")
        .line(ng-show="hasEmptyIntervals", tooltip="{{'graph_material_tooltip' | loc}}")
          a.action
          .swatch(style="background-color: #999")
          span.label 
            em {{'graph_material' | loc}} 
      div(style='clear: both;')
      .drawing(ng-show="loading")
        | {{'drawing' | loc}}
    .chart(ng-show="isGraph()")
    .zoom_slider(ng-show="isGraph()")
    .time_table(style="margin-top:20px", ng-show="isTable()")
    .exportTimeStatsSection(ng-show="isTable()")
      select.timeKindOfData
        option(value='relative', rel='localize[statstable_relfigures]') Relativa tal
        option(value='absolute', rel='localize[statstable_absfigures]') Absoluta tal
      select.timeKindOfFormat
        option(value='CSV', rel='localize[statstable_exp_csv]') CSV (kommaseparerade v채rden)
        option(value='TSV', rel='localize[statstable_exp_tsv]') TSV (tabseparerade v채rden)
      a.export.btn.btn-default.btn-small {{'statstable_export' | loc}}
tab(active="active", ng-repeat='promise in compareTabs', ng-controller='compareCtrl')
  tab-heading.compare_tab(ng-class='{loading : loading}')
    | {{'compare_vb' | loc}}
    span(tab-spinner='tab-spinner', ng-click='compareTabs.splice($index, 1)')
  .compare_result(ng-class='{loading : loading}')
    .error_msg(ng-if="error")
      object.korp_fail.inline_block(type='image/svg+xml', data='img/korp_fail.svg')
        img.korp_fail(src='img/korp_fail.svg')
      .fail_text.inline_block(rel='localize[fail_text]') Ett fel har uppst책tt. 


    .column.column_1(ng-if="!error")
      h2
        | {{'compare_distinctive' | loc}} 
        em {{cmp1.label}}
      ul
        li(ng-repeat='tuple in tables.negative', ng-click="rowClick(tuple, 0)")
          .meter(meter='tuple', max='max[1]', stringify='stringify')
    .column.column_2
      h2
        | {{'compare_distinctive' | loc}} 
        em {{cmp2.label}}
      ul
        li(ng-repeat='tuple in tables.positive', ng-click="rowClick(tuple, 1)")
          .meter(meter='tuple', max='max[1]', stringify='stringify')