#header(ng-controller="headerCtrl")
  #top_bar
    ul#mode_switch
      li(ng-repeat="mode in visible", class="visible", ng-class="{selected: mode.selected}")
        a(ng-href="{{getUrl(mode.mode)}}") 
          | {{mode.localekey | loc:lang}}
      li.menu_more.visible(ng-if="menu.length") 
        a.dropdown-toggle(popper, no-close-on-click="true", my="right+15% top+10", at="bottom right") {{'more' | loc:lang}}
          i.fa.fa-angle-double-down
        ul.dropdown-menu.popper_menu
           li(ng-repeat="mode in menu")
             a(ng-href="{{getUrl(mode.mode)}}") 
               | {{mode.localekey | loc:lang}}

    button.float-right(popover-class="cog_menu" popover-placement="bottom-right" uib-popover-template="'myPopoverTemplate.html'" type="button" popover-trigger="outsideClick")
      i.fa.fa-cog.align-middle.text-gray-800(style="font-size: 1.3rem")

    script(type="text/ng-template" id="myPopoverTemplate.html")
      ul.my-0.py-1.text-right
        li.bg-white.hover_bg-gray-200.p-1.transition.duration-200
          a.transiton.duration-200.hover_text-blue-600#about(ng-click="citeClick()") {{'about' | loc:lang}}
        li.bg-white.hover_bg-gray-200.p-1.transition.duration-500
          a.transiton.duration-200.hover_text-blue-600(href='https://spraakbanken.gu.se/verktyg/korp/användarhandledning', target='_blank') {{'docs' | loc:lang}}
        li.bg-white.hover_bg-gray-200.p-1.transition.duration-200#korplink
          a.transiton.duration-200.hover_text-blue-600(href='/korp') {{'korp' | loc:lang}}
        li.bg-white.hover_bg-gray-200.p-1.transition.duration-200#korplablink
          a.transiton.duration-200.hover_text-blue-600(href='/korplabb') {{'korp_lab' | loc:lang}}
        li.bg-white.hover_bg-gray-200.p-1.transition.duration-200
          a.transiton.duration-200.hover_text-blue-600(href='https://spraakbanken.gu.se/sparv', target='_blank') {{'import_chain' | loc:lang}}
    

    #news_area
      div(news-desk="", header="'newsdesk-header'", storage="'korp_last_read_newsitem'")
    #log_out.link(ng-click="logout()", ng-if="loggedIn")
      span
        | {{'log_out' | loc:lang}}&nbsp;
      span {{username}}
    #languages
      a(data-mode='sv', ng-click="lang = 'sv'") {{'swedish' | loc:lang}}
      a(data-mode='en', ng-click="lang = 'en'") {{'english' | loc:lang}}
    #login
      a(ng-click="showLogin()", ng-show="!loggedIn") {{'log_in' | loc:lang}}

    .clearfix
  #header_left.flex.items-end.ml-2.pb-1
    a.flex-shrink-0(ng-click="logoClick()")
      img(src='img/korplogo.png')
    #labs_logo
      <svg height="60" version="1.1" width="39" xmlns="http://www.w3.org/2000/svg" style="overflow: hidden; position: relative; left: -0.625px;"><desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Created with Raphaël 2.1.0</desc><defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></defs><path fill="#333333" stroke="none" d="M22.121,24.438L18.759,16.590999999999998C18.43,15.821999999999997,18.16,14.509999999999998,18.16,13.673999999999998S18.673000000000002,12.152999999999999,19.3,12.152999999999999S20.441000000000003,11.639999999999999,20.441000000000003,11.012999999999998S19.756000000000004,9.872999999999998,18.92,9.872999999999998H12.080000000000002C11.244000000000002,9.872999999999998,10.560000000000002,10.385999999999997,10.560000000000002,11.012999999999998S11.073000000000002,12.152999999999999,11.700000000000003,12.152999999999999S12.840000000000003,12.838,12.840000000000003,13.674S12.571000000000003,15.822,12.241000000000003,16.591L8.879000000000003,24.438000000000002C8.55,25.206,8.28,26.177,8.28,26.595S8.622,27.698,9.04,28.116S10.483999999999998,28.876,11.319999999999999,28.876H19.679C20.514999999999997,28.876,21.540999999999997,28.534000000000002,21.959,28.116S22.719,27.012999999999998,22.719,26.595S22.45,25.206,22.121,24.438ZM16.582,7.625C16.582,8.224,17.066000000000003,8.708,17.665,8.708S18.747999999999998,8.224,18.747999999999998,7.625S18.263999999999996,6.541,17.665,6.541S16.582,7.026,16.582,7.625ZM13.667,7.792C13.943,7.792,14.167,7.568,14.167,7.292S13.943,6.792,13.667,6.792S13.167,7.016,13.167,7.292S13.391,7.792,13.667,7.792ZM15.584,5.292C16.458,5.292,17.166999999999998,4.583,17.166999999999998,3.7089999999999996C17.166999999999998,2.8339999999999996,16.458,2.1249999999999996,15.583999999999998,2.1249999999999996C14.709,2.125,14,2.834,14,3.709C14,4.583,14.709,5.292,15.584,5.292Z" transform="matrix(1.7,0,0,1.7,-10.8497,7.1497)" stroke-width="0.5882352941176471" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path></svg>
    #corpusbox.scroll_checkboxes.flex-shrink-0
      .hp_topframe.buttonlink.ui-state-default.ui-corner-all
        div.pull-left
          span#hp_corpora_title1
          span#hp_corpora_titleOf(rel='localize[corpselector_of]')  of 
          span#hp_corpora_titleTotal
          span#hp_corpora_title2(rel='localize[corpselector_allselected]')
          span#hp_corpora_titleTokens(style='color: #888888;')
        div(style='float: right; width: 16px;')
          span.ui-icon.ui-icon-triangle-2-n-s(style='text-align: right; left: auto;')
        .clearfix
    .popupchecks.ui-corner-bottom.flex-shrink-0
      .header
        #time
          #time_graph
          #rest_time_graph
        .buttons
          button.btn.btn-default.btn-sm.selectall
            span.fa.fa-check
            span(rel='localize[corpselector_buttonselectall]')
            span(data-loc='corpselector_buttonselectall')
          button.btn.btn-default.btn-sm.selectnone
            span.fa.fa-times
            span(rel='localize[corpselector_buttonselectnone]')
      .checks
      br
      p#sentenceCounter(style='font-size: 85%;')
    .corpusInfoSpace.ui-corner-all.flex-shrink-0
      div
        p(style='padding: 10px; margin: 0px;')
    div.flex-grow
    span.flex.items-end.mr-4.max-w-lg.justify-end
      a.hidden.lg_inline(href="https://spraakbanken.gu.se" target="_blank")
        img(src="img/sbx1r.svg" style='margin-bottom: -6%;')
      a.hidden.lg_inline.flex-grow-0(href="https://sweclarin.se" target="_blank")
        img(src="img/sweclarin_logo.png" style='margin-bottom: 2px')
    select#search_history.hidden.md_block.flex-shrink.min-w-0
