#top_bar(ng-controller="headerCtrl")
  ul#mode_switch
    li(ng-repeat="mode in visible", class="visible", ng-class="{selected: mode.selected}")
      a(ng-href="{{getUrl(mode.mode)}}", ng-click="onSelect(mode.mode)") 
        | {{mode.localekey | loc}}
    li.menu_more.visible(ng-if="menu.length") 
      a.dropdown-toggle(popper, my="right+15% top+10", at="bottom right", href="javascript:") Fler
        i.fa.fa-angle-double-down
      ul.dropdown-menu.popper_menu
         li(ng-repeat="mode in menu")
           a(ng-href="{{getUrl(mode.mode)}}", ng-click="onModeMenuClick(mode.mode)") 
             | {{mode.localekey | loc}}
      
  #cog

  ul#cog_menu
    li
      a#about(href='javascript:', rel='localize[about]') About Korp
    li
      a#docs.follow_link(href='http://spraakbanken.gu.se/swe/forskning/infrastruktur/korp/anvandarhandledning', target='_blank', rel='localize[docs]')
    li#korplink
      a.follow_link(href='/korp', rel='localize[korp]')
    li#korplablink
      a.follow_link(href='/korplabb', rel='localize[korp_lab]')
    li#import
      a.follow_link(href='http://spraakbanken.gu.se/korp/annoteringslabbet', rel='localize[import_chain]')
    li#login
      a(href='javascript:', rel='localize[log_in]')
  #news_area
    div(news-desk="", header="'newsdesk-header'", storage="'korp_last_read_newsitem'")
  #log_out.link
    span 
      | {{'log_out' | loc}}   
    span.usrname 
  #languages
    a(href='javascript:', data-mode='sv', ng-click="lang = 'sv'") {{'swedish' | loc}}
    a(href='javascript:', data-mode='en', ng-click="lang = 'en'") {{'english' | loc}}
  #cite
    a(href="javascript:", ng-click="citeClick()") {{"about_cite_header" | loc}}

  .clearfix
#header_left
  a#logo
    img(src='img/korplogo.png')
  #labs_logo
  #corpusbox.scroll_checkboxes.inline_block
    .hp_topframe.buttonlink.ui-state-default.ui-corner-all
      div.pull-left
        span#hp_corpora_title1
        span#hp_corpora_titleOf(rel='localize[corpselector_of]')  of 
        span#hp_corpora_titleTotal
        span#hp_corpora_title2(rel='localize[corpselector_allselected]')
        span#hp_corpora_titleTokens(style='color: #888888;')
      div(style='float: right; width: 16px;')
        span.ui-icon.ui-icon-triangle-2-n-s(style='text-align: right; left: auto;')
      .clearfix
  .popupchecks.ui-corner-bottom
    .header
      #time
        #time_graph
        #rest_time_graph
      .buttons
        a.buttonlink.ui-state-default.ui-corner-all.selectall(href='javascript:')
          span.ui-icon.ui-icon-check
          span(rel='localize[corpselector_buttonselectall]')
          span(data-loc='corpselector_buttonselectall')
        a.selectnone.buttonlink.ui-state-default.ui-corner-all(href='javascript:')
          span.ui-icon.ui-icon-closethick
          span(rel='localize[corpselector_buttonselectnone]')
      div(style='clear: both;')
    .checks
    br
    p#sentenceCounter(style='font-size: 85%;')
  .corpusInfoSpace.ui-corner-all
    div
      p(style='padding: 10px; margin: 0px;')
select#search_history
div(style='clear: both;')