div(ng-controller="SearchCtrl", click-cover="noCorporaSelected")
  uib-tabset.tabbable.search_tabs(tab-hash='search_tab', active="activeTab")
    uib-tab(heading='{{"simple" | loc:lang}}', ng-if="visibleTabs[0]")
      include simple
    uib-tab(heading='{{"detailed" | loc:lang}}', ng-if="visibleTabs[1]")
      .extended(ng-include='extendedTmpl')

    uib-tab(heading='{{"advanced" | loc:lang}}', ng-if="visibleTabs[2]", 
        advanced-search)
      #advanced
        .well.well-small
          | {{'active_cqp_simple' | loc:lang}}:

          pre {{simpleCQP}}

        .well.well-small
          | {{'active_cqp_extended' | loc:lang}}:

          pre {{extendedCQP}}
        
        .well.well-small
          | {{'cqp_query' | loc}}:
          .pull-right
            i.fa.fa-file-o
            a(href='http://cwb.sourceforge.net/files/CQP_Tutorial.pdf', target='_blank') 
              | {{'cqp_docs' | loc:lang}}
          textarea#cqp_string(ng-model="cqp")
        search-submit(pos='right')

    uib-tab(ng-if="visibleTabs[3]", compare-search-ctrl)
      uib-tab-heading
        | {{'compare' | loc:lang}} 
        span.badge(ng-if='savedSearches.length') {{savedSearches.length}}
      .search_compare()
        button.btn.btn-sm.btn-danger.delete(ng-click='deleteCompares()', ng-show='savedSearches.length > 1') 
          i.fa.fa-trash-o
          | {{'compare_delete' | loc:lang}}
        div(ng-show='savedSearches.length < 2')
          .bs-callout.bs-callout-warning
            | {{'compare_warning' | loc:lang}}
        div(ng-show='savedSearches.length > 1')
          | {{'compare_vb' | loc:lang}}
          select(ng-options='search.label for search in savedSearches', ng-model='cmp1')
          | {{'compare_with' | loc:lang}}
          select(ng-options='search.label for search in savedSearches', ng-model='cmp2')
          | {{'compare_reduce' | loc:lang}}

          select(ng-model='reduce', 
             ng-options='obj | \
             mapper:valfilter as obj.label | \
             loc group by obj.group | \
             loc for obj in currentAttrs')

          //- reduce-select(reduce-items="currentAttrs", reduce-selected="selectedAttrs", reduce-lang="lang", style='width: 150px')

          button.btn.btn-sm.btn-default.search(ng-click='sendCompare()') {{'compare_vb' | loc:lang}}
  #search_options.flex.items-baseline.bg-blue-100.border.border-blue-200.shadow-inner(click-cover="isCompareSelected")
    div
      span.inline-block.mr-2(style='font-size: .9em;') KWIC: 
      select(ng-model='hitsPerPage' ng-options='getHppFormat(val) for val in hitsPerPageValues track by val')
      select(ng-model='kwicSort' ng-options='getSortFormat(val) for val in kwicSortValues track by val')

    div.flex.items-center(ng-show="showStats()")
      span(rel='localize[statistics]') 
      | : 
      reduce-select.ml-2.relative.-top-px(reduce-items="statCurrentAttrs", reduce-selected="statSelectedAttrs", 
        reduce-insensitive="statInsensitiveAttrs" reduce-lang="lang", style='width: 200px')
    div(ng-show="settings.statistics !== false")
      input#show_stats(type="checkbox", ng-model="showStatistics", ng-disabled="inOrder")
      label(for="show_stats") {{'show_stats' | loc:lang}}
    div(ng-show="settings.wordpicture !== false")
      input#word_pic(type="checkbox", ng-model="word_pic")
      label(for="word_pic") {{'show_word_pic' | loc:lang}}
