div(ng-controller="SearchCtrl")
  tabset.tabbable.search_tabs(tab-hash='search_tab')
    tab(heading='{{"simple" | loc:lang}}', ng-if="visibleTabs[0]")
      include simple
    tab(heading='{{"detailed" | loc:lang}}', ng-if="visibleTabs[1]")
      .extended(ng-include='extendedTmpl')

    tab(heading='{{"advanced" | loc:lang}}', ng-if="visibleTabs[2]", 
        advanced-search)
      #advanced
        .well.well-small
          | {{'active_cqp_simple' | loc:lang}}:

          pre {{simpleCQP}}

        .well.well-small
          | {{'active_cqp_extended' | loc:lang}}:

          pre {{extendedCQP}}
        
        .well.well-small
          | {{'cqp_query' | loc}}:
          .pull-right
            i.fa.fa-file-o
            a(href='http://cwb.sourceforge.net/files/CQP_Tutorial.pdf') 
              | {{'cqp_docs' | loc:lang}}
          textarea#cqp_string(ng-model="cqp")
        search-submit(pos='right')
        //- button.btn.btn-sm#sendBtn {{'search' | loc:lang}}
    tab(ng-if="visibleTabs[3]", compare-search-ctrl)
      tab-heading
        | {{'compare' | loc:lang}} 
        span.badge(ng-if='savedSearches.length') {{savedSearches.length}}
      .search_compare()
        button.btn.btn-sm.btn-danger.delete(ng-click='deleteCompares()', ng-show='savedSearches.length > 1') 
          i.fa.fa-trash-o
          | {{'compare_delete' | loc:lang}}
        div(ng-show='savedSearches.length < 2')
          .bs-callout.bs-callout-warning
            | {{'compare_warning' | loc:lang}}
        div(ng-show='savedSearches.length > 1')
          | {{'compare_vb' | loc:lang}}
          select(ng-options='search.label for search in savedSearches', ng-model='cmp1')
          | {{'compare_with' | loc:lang}}
          select(ng-options='search.label for search in savedSearches', ng-model='cmp2')
          | {{'compare_reduce' | loc:lang}}

          select(ng-model='reduce', 
             ng-options='obj | \
             mapper:valfilter as obj.label | \
             loc group by obj.group | \
             loc for obj in currentAttrs')

          //- reduce-select(reduce-items="currentAttrs", reduce-selected="selectedAttrs", reduce-lang="lang", style='width: 150px')

          button.btn.btn-sm.search(ng-click='sendCompare()') {{'compare_vb' | loc:lang}}
  #search_options.ui-widget-content.ui-corner-bottom(click-cover="isCompareSelected")
    div
      span(style='font-size: .9em;') KWIC: 
      select#num_hits.num_hits(data-history='hpp', data-prefix='hits_per_page', rel='localize[hits_per_page]', ng-model="$root._searchOpts.hits_per_page")
        option(value='25') 25
        option(value='50') 50
        option(value='75') 75
        option(value='100') 100
        option(value='500') 500
        option(value='1000') 1000
      select.sort_select(data-history='sort', data-prefix='sort_default')
        option(value='', rel='localize[appearance_context]') 
        option(value='keyword', rel='localize[word_context]') 
        option(value='left', rel='localize[left_context]') 
        option(value='right', rel='localize[right_context]') 
        option(value='random', rel='localize[random_context]') 

    div(ng-show="showStats()")
      span(rel='localize[statistics]') 
      | : 
      reduce-select(reduce-items="statCurrentAttrs", reduce-selected="statSelectedAttrs", 
        reduce-insensitive="statInsensitiveAttrs" reduce-lang="lang", style='width: 200px')
    div(ng-show="settings.wordpicture !== false")
      input#word_pic(type="checkbox", ng-model="word_pic")
      label(for="word_pic") {{'show_word_pic' | loc:lang}}
    div(ng-show="settings.enableMap")
      input#show_map(type="checkbox", ng-model="show_map")
      label(for="show_map") {{'show_map' | loc:lang}}     
