div(ng-controller="SearchCtrl")
  tabset.tabbable.search_tabs(tab-hash='search_tab')
    tab(heading='{{"simple" | loc}}', ng-if="visibleTabs[0]")
      include simple
    tab(heading='{{"detailed" | loc}}', ng-if="visibleTabs[1]")
      .extended(ng-include='extendedTmpl')

    tab(heading='{{"advanced" | loc}}', ng-if="visibleTabs[2]", ng-controller="AdvancedCtrl")
      #advanced
        .well.well-small
          | {{'active_cqp_simple' | loc}}:

          pre {{simpleCQP}}

        .well.well-small
          | {{'active_cqp_extended' | loc}}:

          pre {{extendedCQP}}
        
        .well.well-small
          {{'cqp_query' | loc}}:
          .pull-right
            i.fa.fa-file-o
            a(href='http://cwb.sourceforge.net/files/CQP_Tutorial.pdf') 
              | {{'cqp_docs' | loc}}
          textarea#cqp_string(ng-model="cqp")
        search-submit(pos='right')
        //- button.btn.btn-small#sendBtn {{'search' | loc}}
    tab(ng-if="visibleTabs[3]", ng-controller='CompareSearchCtrl')
      tab-heading
        | {{'compare' | loc}} 
        span.badge(ng-if='savedSearches.length') {{savedSearches.length}}
      .search_compare()
        button.btn.btn-small.btn-danger.delete(ng-click='deleteCompares()', ng-show='savedSearches.length > 1') 
          i.fa.fa-trash-o
          | {{'compare_delete' | loc}}
        div(ng-show='savedSearches.length < 2')
          .bs-callout.bs-callout-warning
            | {{'compare_warning' | loc}}
        div(ng-show='savedSearches.length > 1')
          | {{'compare_vb' | loc}}
          select(ng-options='search.label for search in savedSearches', ng-model='cmp1')
          | {{'compare_with' | loc}}
          select(ng-options='search.label for search in savedSearches', ng-model='cmp2')
          | {{'compare_reduce' | loc}}
          select(ng-model='reduce', 
            ng-options='obj | \
             mapper:valfilter as obj.label | \
             loc group by obj.group | \
             loc for obj in getAttrs()')
          button.btn.btn-small.search(ng-click='sendCompare()') {{'compare_vb' | loc}}
  #search_options.ui-widget-content.ui-corner-bottom(click-cover="isCompareSelected")
    div
      span(style='font-size: .9em;') KWIC: 
      select#num_hits.num_hits(data-history='hpp', data-prefix='hits_per_page', rel='localize[hits_per_page]')
        option(value='25') 25
        option(value='50') 50
        option(value='75') 75
        option(value='100') 100
        option(value='500') 500
        option(value='1000') 1000
      select.sort_select(data-history='sort', data-prefix='sort_default')
        option(value='', rel='localize[appearance_context]') Förekomst
        option(value='keyword', rel='localize[word_context]') Ordkontext
        option(value='left', rel='localize[left_context]') Vänsterkontext
        option(value='right', rel='localize[right_context]') Högerkontext
        option(value='random', rel='localize[random_context]') Slumpvis
    div(ng-show="showStats()")
      span(rel='localize[statistics]') Statistik 
      | : 
      span#reduceSelect
    div(ng-show="settings.wordpicture !== false")
      input#word_pic(type="checkbox", ng-model="word_pic")
      label(for="word_pic") {{'show_word_pic' | loc}}