#korp-simple(ng-controller='SimpleCtrl')

  global-filters(lang="lang")
  
  .sm_flex.justify-between
    form.simple_form
      autoc#simple_text(placeholder="placeholder", type='lemgram', model='model', disable-lemgram-autocomplete='! settings.autocomplete', text-in-field="textInField")
      search-submit
      .opts
        input#inOrderChk(type='checkbox', ng-model="inOrder") 
        label(for='inOrderChk')  {{'in_order_chk' | loc:lang}}
        span  {{'and' | loc:lang}} 
        span 
          |  {{'and_include' | loc:lang}} 
        input#prefixChk(type='checkbox', ng-model="prefix") 
        label(for='prefixChk')  {{'prefix_chk' | loc:lang}}
        input#midChk(type='checkbox', ng-model="mid_comp") 
        label(for='midChk')  {{'compound_middle' | loc:lang}} 
        input#suffixChk(type='checkbox', ng-model="suffix") 
        label(for='suffixChk')  {{'suffix_chk' | loc:lang}} 
        span  {{'and' | loc:lang}} 
        input#caseChk(type='checkbox', ng-model="isCaseInsensitive") 
        label(for='caseChk')  {{'case_insensitive' | loc:lang}}  

    #similar_wrapper(ng-show="relatedObj")
      button.btn.btn-sm.btn-default(ng-click="showAllRelated()" ng-if="relatedObj.length != 0")
        span.btn_header
          | {{ 'similar_header' | loc:lang }} (SWE-FN)
        br
        span(ng-repeat="wd in relatedObj[0].words | limitTo:relatedDefault") 
          | {{stringifyRelated(wd)}}
          span(ng-if="!$last") , 
        br
        span(ng-repeat="wd in relatedObj[0].words.slice(relatedDefault) | limitTo:relatedDefault") 
          | {{stringifyRelated(wd)}}
          span(ng-if="!$last") , 
        span(ng-if="relatedObj[0].words.length > relatedDefault || relatedObj.length > 1") 
          | ...
      div.btn.btn-sm.btn-default(ng-if="relatedObj.length == 0")
        span.btn_header
          | {{ 'similar_header' | loc:lang }} (SWE-FN)
        br
        span
          | {{'no_related_words' | loc:lang}}

