uib-tab(ng-repeat="inData in textTabs", text-reader-ctrl, select="onentry()" deselect="onexit()")
  uib-tab-heading(ng-class='{loading : loading}')
    | {{ 'text_tab_header' | loc:lang}}
    span(tab-spinner, ng-click='closeTab($index, $event)')
  div
    .error_msg(ng-if="error")
      div.korp_fail.inline_block
        img.korp_fail(src='img/korp_fail.svg')
      .fail_text.inline_block(rel='localize[fail_text]') Ett fel har uppstått. 
    div(ng-if="!loading" text-reader)
